Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

fix(react): add isDevelopment to remove repetitive implementation
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/utils/index.ts
  packages/react/src/utils/isDevelopment.ts
Due: eslint

docs(package.json): add details in package.json
  .yarn/install-state.gz
  package.json
  packages/react-query/package.json
  packages/react/package.json
  websites/visualization/.pnp.cjs
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.6.4-6cf3ab6951-c09a94adf2.zip
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.6.5-23c4c8ad4b-5ae4749fb7.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.6.4-8a85163d6e-3f46b1f903.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.6.5-95679970e4-6007f2a1e8.zip
  websites/visualization/.yarn/install-state.gz
  websites/visualization/package.json
  websites/visualization/yarn.lock
  yarn.lock
Due: none

feat(react): add hoc of AsyncBoundary, ErrorBoundary
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/types/index.ts
Due: eslint

chore: update version to 1.7.0
  .yarn/install-state.gz
  packages/react-query/package.json
  packages/react/package.json
  websites/visualization/.pnp.cjs
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.6.5-23c4c8ad4b-5ae4749fb7.zip
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.7.0-b5de056d87-20b5fca975.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.6.5-95679970e4-6007f2a1e8.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.7.0-abf9428cde-b880c73ddd.zip
  websites/visualization/.yarn/install-state.gz
  websites/visualization/package.json
  websites/visualization/yarn.lock
  yarn.lock
Due: none

docs(packages): add npm version tracking badges
  README.md
  packages/react-query/README.md
  packages/react/README.md
Due: prettier --list-different

chore: update version to 1.7.1
  .yarn/install-state.gz
  packages/react-query/package.json
  packages/react/package.json
  websites/visualization/.pnp.cjs
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.7.0-b5de056d87-20b5fca975.zip
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.7.1-6fcfa9e803-080f1bd405.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.7.0-abf9428cde-b880c73ddd.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.7.1-205b3e9226-06d10b5ff7.zip
  websites/visualization/.yarn/install-state.gz
  websites/visualization/package.json
  websites/visualization/yarn.lock
  yarn.lock
Due: none

chore: update version to 1.7.2
  .yarn/install-state.gz
  packages/react-query/README.md
  packages/react-query/package.json
  packages/react/README.md
  packages/react/package.json
  websites/visualization/.pnp.cjs
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.7.1-6fcfa9e803-080f1bd405.zip
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.7.2-6941e12e21-777ff0a9ab.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.7.1-205b3e9226-06d10b5ff7.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.7.2-fde20ee249-fe13239eac.zip
  websites/visualization/.yarn/install-state.gz
  websites/visualization/package.json
  websites/visualization/yarn.lock
  yarn.lock
Due: prettier --list-different

chore(changeset): add config to release easily
  .changeset/config.json
  .pnp.cjs
  .yarn/cache/@next-eslint-plugin-next-npm-12.3.4-6b4057e6f1-e4ae97062f.zip
  .yarn/cache/eslint-config-custom-npm-0.0.0-2c69ad1eec-5547fc411e.zip
  .yarn/cache/eslint-config-next-npm-12.3.4-8fabb9a3b5-53cd24d7b7.zip
  .yarn/cache/eslint-plugin-react-npm-7.28.0-61180fa1a4-90293d0fd5.zip
  .yarn/install-state.gz
  configs/eslint-config-custom/package.json
  configs/tsconfig/package.json
  package.json
  packages/react-query/package.json
  packages/react/package.json
  websites/docs/package.json
  websites/visualization/.pnp.cjs
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.7.2-6941e12e21-777ff0a9ab.zip
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.7.3-1f5049709e-9f51378f46.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.7.2-fde20ee249-fe13239eac.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.7.3-150c153164-4837bc5f86.zip
  websites/visualization/.yarn/install-state.gz
  websites/visualization/package.json
  websites/visualization/yarn.lock
  yarn.lock
Due: none

chore(all-contributors): add config
  .all-contributorsrc
  .pnp.cjs
  .yarn/cache/all-contributors-cli-npm-6.24.0-fb87374524-26b0a5ec01.zip
  .yarn/cache/async-npm-3.2.4-aba13508f9-43d07459a4.zip
  .yarn/cache/didyoumean-npm-1.2.2-fd568ec571-d5d98719d5.zip
  .yarn/cache/inquirer-npm-7.3.3-9e86782610-4d387fc1eb.zip
  .yarn/cache/json-fixer-npm-1.6.15-ae75b6da33-ae805d5155.zip
  .yarn/cache/node-fetch-npm-2.6.8-ddb8bfc274-91f57be68e.zip
  .yarn/cache/pegjs-npm-0.10.0-a48104cf8e-65d184ca0e.zip
  .yarn/cache/pify-npm-5.0.0-f5abe8ab8d-443e3e198a.zip
  .yarn/cache/rxjs-npm-6.6.7-055046ea3c-bc334edef1.zip
  .yarn/install-state.gz
  README.md
  package.json
  yarn.lock
Due: prettier --list-different

chore: npx sort-package-json
  README.md
  package.json
  packages/react-query/README.ko.md
  packages/react/README.ko.md
Due: prettier --list-different

docs(related.md): add link
  websites/docs/intro/related.en.md
  websites/docs/intro/related.ko.md
Due: prettier --list-different

chore(release): publish libraries
  .yarn/install-state.gz
  package.json
  packages/react-query/package.json
  packages/react/package.json
  websites/visualization/package.json
  yarn.lock
Due: none

docs(README.md): updated with banner
  README.md
  packages/react-query/README.ko.md
  packages/react-query/README.md
  packages/react/README.ko.md
  packages/react/README.md
  turbo.json
  websites/docs/static/banner.png
Due: prettier --list-different

fix(docs): update url
  websites/docs/docusaurus.config.js
Due: none

chore(eslint): add prettier rules with package rename
  .vscode/settings.json
  .yarn/cache/eslint-plugin-prettier-npm-4.2.1-ba8e1240f1-b9e839d233.zip
  .yarn/cache/fast-diff-npm-1.2.0-5ba4171bb6-1b5306eaa9.zip
  .yarn/cache/prettier-linter-helpers-npm-1.0.0-6925131a7e-00ce8011cf.zip
  .yarn/install-state.gz
  configs/eslint/next.js
  configs/eslint/package.json
  configs/eslint/react.js
  packages/react-query/.eslintrc.js
  packages/react/.eslintrc.js
  packages/react/package.json
  yarn.lock
Due: none

feat(visualization): add playground to compare @suspensive/react-query with @tanstack/react-query
  websites/docs/i18n/ko/docusaurus-theme-classic/footer.json
  websites/visualization/components/forPlayground/api.tsx
  websites/visualization/components/forPlayground/index.ts
  websites/visualization/components/forPlayground/suspensive.tsx
  websites/visualization/components/forPlayground/tanstack.tsx
  websites/visualization/pages/react-query/index.tsx
  websites/visualization/pages/react-query/playground.tsx
  websites/visualization/pages/react/index.tsx
Due: eslint

feat(react): add experimental DelaySuspense in v1.8.1
  .yarn/cache/@suspensive-react-npm-1.7.3-1f5049709e-9f51378f46.zip
  .yarn/cache/@suspensive-react-npm-1.8.0-bf1f1ebb0b-6231aab277.zip
  .yarn/cache/@suspensive-react-query-npm-1.7.3-150c153164-4837bc5f86.zip
  .yarn/cache/@suspensive-react-query-npm-1.8.0-a72d19915b-b1f350f4f4.zip
  .yarn/install-state.gz
  packages/react-query/package.json
  packages/react/package.json
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/DelaySuspense.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/isDevelopment.ts
  websites/visualization/components/forPlayground/api.tsx
  websites/visualization/components/forPlayground/suspensive.tsx
  websites/visualization/components/forPlayground/tanstack.tsx
  websites/visualization/components/forPlayground/useIntersectionObserver.ts
  websites/visualization/components/uis/index.tsx
  websites/visualization/package.json
  yarn.lock
Due: eslint
