Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

test(useRerender): add test code (#67)
  packages/react/src/hooks/useRerender/index.ts
  packages/react/src/hooks/useRerender/useRerender.spec.ts
  packages/react/src/hooks/useRerender/useRerender.ts
Due: eslint

test(react): add test case of hasResetKeysChanged (#70)
  packages/react/src/utils/hasResetKeysChanged/hasResetKeysChanged.spec.ts
Due: eslint

chore(codecov): add coverage status badge (#71)
  README.md
Due: prettier --list-different

test(react): wrote test code for verifying Delay
  packages/react/src/Delay.spec.tsx
Due: none

test(react): wrote test code for verifying Delay (#72)
  packages/react/src/Delay.spec.tsx
Due: none

test(react): add test case for SuspensiveProvider
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withDelay.tsx
Due: none

fix(react): fix index.ts
  packages/react/src/index.ts
Due: eslint

test(codecov): configuration
  .github/workflows/code-coverage.yml
  codecov.yml
Due: none

test(react): add test case for SuspensiveProvider (#73)
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/index.ts
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withDelay.tsx
Due: eslint

test(react): add test case for Suspense
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/hooks/index.ts
Due: eslint

test(react): code reviewed
  packages/react/src/Suspense.spec.tsx
Due: none

test(react): add test case for Suspense (#75)
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/hooks/index.ts
Due: eslint

refactor(react): remove repetitive code, naming intuitively with adding test case for withSuspense
  configs/jest/jest.config.js
  packages/react/src/Delay.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/test-utils/index.tsx
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withSuspense.spec.tsx
  packages/react/tsconfig.build.json
Due: none

refactor(react): remove repetitive code, naming intuitively with adding test case for withSuspense (#78)
  configs/jest/jest.config.js
  packages/react/src/Delay.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/test-utils/index.tsx
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withSuspense.spec.tsx
  packages/react/tsconfig.build.json
Due: none

fix(react): fix useErrorBoundaryGroup to guarantee parent ErrorBoundaryGroup
  codecov.yml
  configs/tsconfig/react-library.json
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/test-utils/index.tsx
  packages/react/src/utils/index.ts
Due: eslint

Create thick-walls-talk.md
  .changeset/thick-walls-talk.md
Due: prettier --list-different

fix(react): fix useErrorBoundaryGroup to guarantee parent ErrorBoundaryGroup (#79)
  .changeset/thick-walls-talk.md
  codecov.yml
  configs/tsconfig/react-library.json
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/test-utils/index.tsx
  packages/react/src/utils/index.ts
Due: eslint, prettier --list-different

docs: Changed the order of npm, yarn, and pnpm in documentation for consistency across different sections
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
Due: prettier --list-different

Update websites/docs/intro/installation.en.md
  websites/docs/intro/installation.en.md
Due: prettier --list-different

Update websites/docs/intro/installation.ko.md
  websites/docs/intro/installation.ko.md
Due: prettier --list-different

fix(react): suspenseCache's methods arg key type correctly (string -> Tuple)
  packages/react/src/test-utils/index.tsx
  packages/react/src/useSuspenseCache.spec.tsx
  packages/react/src/useSuspenseCache.tsx
Due: none

docs: add korean visualization iframe style height and fix typo
  websites/docs/intro/visualization.en.md
  websites/docs/intro/visualization.ko.md
Due: prettier --list-different

Create plenty-mayflies-cry.md
  .changeset/plenty-mayflies-cry.md
Due: prettier --list-different

fix: add eslint rule to catch unused code and variables
  packages/react/src/Delay.tsx
Due: none

fix: add eslint rule to catch unused code and variables
  configs/eslint-config-ts/noimport.js
Due: none

fix: add eslint rule to detect dead code (#85)
  configs/eslint-config-ts/noimport.js
  packages/react/src/Delay.tsx
Due: none

docs: reorder dependency managers for consistency (#82)
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
Due: prettier --list-different

docs: add korean visualization iframe style height and fix typo (#84)
  websites/docs/intro/visualization.en.md
  websites/docs/intro/visualization.ko.md
Due: prettier --list-different

fix(eslint-config-ts): lint order correctly
  configs/eslint-config-ts/typescript.js
Due: none
