Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

fix(react-query): correct wrong type
  .yarn/install-state.gz
  examples/visualization/components/UseSuspenseQuery.tsx
  examples/visualization/package.json
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/package.json
  yarn.lock
Due: eslint

chore(docs/react): add .yarn in .gitignore
  docs/react/.gitignore
Due: none

chore(examples/visualization): update dependencies
  examples/visualization/.pnp.cjs
  examples/visualization/.yarn/cache/@suspensive-react-npm-0.8.5-5bf7343f62-b28169fcca.zip
  examples/visualization/.yarn/cache/@suspensive-react-query-npm-0.8.2-fca88cf45a-1cf4ff8840.zip
  examples/visualization/.yarn/cache/@suspensive-react-query-npm-0.8.5-a501d77d85-21100254c7.zip
  examples/visualization/.yarn/install-state.gz
  examples/visualization/yarn.lock
Due: none

docs: update README
  README.md
Due: prettier --list-different

chore(all): deploy 1.0.2
  .yarn/install-state.gz
  examples/visualization/.pnp.cjs
  examples/visualization/.yarn/cache/@suspensive-react-npm-0.8.2-9957bf5163-a9c055a27c.zip
  examples/visualization/.yarn/cache/@suspensive-react-npm-0.8.5-5bf7343f62-b28169fcca.zip
  examples/visualization/.yarn/cache/@suspensive-react-npm-1.0.2-5158ea67d2-ef1cda3b05.zip
  examples/visualization/.yarn/cache/@suspensive-react-query-npm-0.8.5-a501d77d85-21100254c7.zip
  examples/visualization/.yarn/cache/@suspensive-react-query-npm-1.0.2-7a6d6de6ea-7082b655cb.zip
  examples/visualization/.yarn/install-state.gz
  examples/visualization/package.json
  examples/visualization/yarn.lock
  packages/react-query/package.json
  packages/react/package.json
  yarn.lock
Due: none

fix(react-query): correct type UseSuspenseInfiniteQueryResultOnSuccess
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react/package.json
Due: eslint

docs(all): update documents
  websites/docs/docs/integration/ReactQuery/QueryErrorResetBoundary.md
  websites/docs/docs/integration/ReactQuery/installation.md
  websites/docs/docs/integration/ReactQuery/useSuspenseInfiniteQuery.md
  websites/docs/docs/integration/ReactQuery/useSuspenseQuery.md
  websites/docs/docs/intro/motivation.md
  websites/docs/docs/reference/AsyncBoundary.md
  websites/docs/docs/reference/ErrorBoundary.md
  websites/docs/docs/reference/ErrorBoundaryGroup.md
  websites/docs/docs/reference/Suspense.md
Due: prettier --list-different

docs(all): migrate react.suspensive.org to docs.suspensive.org
  websites/docs/docs/integration/ReactQuery/QueryErrorResetBoundary.md
  websites/docs/docs/intro/motivation.md
  websites/docs/docs/reference/AsyncBoundary.md
  websites/docs/docusaurus.config.js
Due: prettier --list-different

docs: update README.md, LICENSE
  LICENSE
  README.md
  packages/react-query/LICENSE
  packages/react/LICENSE
Due: prettier --list-different

fix(react-query): remove @suspensive/react in depencies to peerDependencies
  .pnp.cjs
  .yarn/install-state.gz
  packages/react-query/package.json
  packages/react-query/package.tgz
  packages/react/package.json
  packages/react/package.tgz
  websites/visualization/package.json
  yarn.lock
Due: none

chore(.github): add ISSUE_TEMPLATE, PULL_REQUEST_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --list-different

fix: use node@16 in M1
  .yarn/install-state.gz
  websites/docs/package.json
  websites/visualization/.pnp.cjs
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.4.0-3053356c57-4221f6178f.zip
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.5.0-3c3cbab005-aaf5fc09a4.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.4.0-016b670fb4-434394aaf9.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.5.0-5e91c6786d-982f2649cb.zip
  websites/visualization/.yarn/install-state.gz
  websites/visualization/package.json
  websites/visualization/yarn.lock
Due: none

docs(react): translate doc about Suspense
  packages/react/src/Suspense.en.md
  packages/react/src/Suspense.ko.md
Due: prettier --list-different

docs(react): translate doc about ErrorBoundary
  packages/react/src/ErrorBoundary.ko.md
Due: prettier --list-different
