Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

chore(turbo): add remote cache to reduce duplicated ci or build (#300)
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  turbo.json
Due: none

chore: version packages
  .changeset/tender-turkeys-sniff.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --list-different

chore: resolve lint
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/src/wrap.ts
Due: eslint

chore: version packages (#301)
  .changeset/tender-turkeys-sniff.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --list-different

chore(renovate): initialization (#290)
  .github/renovate.json
Due: none

chore(vitest, tsup): use built file (#292)
  configs/eslint-config-ts/noimport.js
  configs/tsup/.eslintrc.cjs
  configs/tsup/package.json
  configs/tsup/src/index.d.ts
  configs/tsup/src/index.js
  configs/tsup/tsconfig.json
  configs/vitest/.eslintrc.cjs
  configs/vitest/package.json
  configs/vitest/src/index.d.ts
  configs/vitest/src/index.js
  configs/vitest/tsconfig.json
Due: eslint

test(react): add useIsomorphicLayoutEffect Test Code
  packages/react/src/hooks/useIsomorphicLayoutEffect.spec.ts
Due: eslint

Update packages/react/src/hooks/useIsomorphicLayoutEffect.spec.ts
  packages/react/src/hooks/useIsomorphicLayoutEffect.spec.ts
Due: eslint

refactor(react): refactoring useIsomorphicLayoutEffect Test Code
  packages/react/src/hooks/useIsomorphicLayoutEffect.spec.ts
Due: eslint

test(react): add useIsomorphicLayoutEffect Test Code (#303)
  packages/react/src/hooks/useIsomorphicLayoutEffect.spec.ts
Due: eslint

chore: eslint to latest
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: eslint to latest (#304)
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: none

docs(ga): initialization
  docs/package.json
  docs/src/pages/_app.mdx
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
Due: none

ci: add cspell plugin for eslint
  .vscode/extensions.json
  .vscode/settings.json
  configs/eslint-config-js/noimport.js
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Due: none

ci(deps): update dependency eslint-config-next to v13.5.6 (#306)
  docs/package.json
  pnpm-lock.yaml
Due: none

docs(ga): initialization (#308)
  docs/package.json
  docs/src/pages/_app.mdx
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
Due: none

Create stale-rivers-argue.md
  .changeset/stale-rivers-argue.md
Due: prettier --list-different

ci(deps): update dependency @types/use-sync-external-store to ^0.0.6 (#305)
  .changeset/stale-rivers-argue.md
  packages/react-await/package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: version packages
  .changeset/stale-rivers-argue.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
Due: prettier --list-different

chore: version packages (#312)
  .changeset/stale-rivers-argue.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
Due: prettier --list-different

ci(deps): update dependency tsd to ^0.29.0 (#310)
  packages/react-query/package.json
  pnpm-lock.yaml
Due: none

ci(deps): update dependency @arethetypeswrong/cli to ^0.13.0 (#309)
  package.json
  pnpm-lock.yaml
Due: none

ci: add cspell plugin for eslint (#311)
  .vscode/extensions.json
  .vscode/settings.json
  configs/eslint-config-js/noimport.js
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Due: none

ci(deps): update actions/setup-node action to v4 (#313)
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/graph.yml
  .github/workflows/release.yml
Due: none

ci(deps): update actions/checkout action to v4 (#314)
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/graph.yml
  .github/workflows/release.yml
Due: none

ci(deps): update node.js to v18.18.2 (#316)
  package.json
Due: none

ci(deps): update actions/upload-pages-artifact action to v2 (#315)
  .github/workflows/graph.yml
Due: none

ci(deps): update commitlint monorepo to v18 (major) (#317)
  package.json
  pnpm-lock.yaml
Due: none

ci(deps): update dependency lint-staged to v15 (#318)
  package.json
  pnpm-lock.yaml
Due: none

ci(deps): update dependency eslint-config-next to v14 (#319)
  docs/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

ci(deps): update dependency @testing-library/dom to v9 (#321)
  package.json
  pnpm-lock.yaml
Due: none

chore: useKey -> useRefreshKey
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useKey.spec.ts
  packages/react/src/hooks/useKey.ts
Due: eslint

chore: useKey -> useRefreshKey
  packages/react/src/hooks/useRefreshKey.spec.ts
  packages/react/src/hooks/useRefreshKey.ts
Due: eslint

feat(react): add experimental wrap to remove unnecessary hocs (#270)
  .changeset/pretty-pumpkins-jam.md
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.ts
  websites/visualization/src/app/react/experimental/wrap/after/page.tsx
  websites/visualization/src/app/react/experimental/wrap/before/page.tsx
  websites/visualization/src/components/UseSuspenseQuery.tsx
Due: eslint, prettier --list-different
