Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

feat(react): add getError, remove unnecessary generic
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/experimental/Await.tsx
Due: none

Create eleven-lobsters-divide.md
  .changeset/eleven-lobsters-divide.md
Due: prettier --list-different

fix(react): error boundary reset using render prop
  .changeset/yellow-clocks-deliver.md
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
Due: prettier --list-different

Update .changeset/yellow-clocks-deliver.md
  .changeset/yellow-clocks-deliver.md
Due: prettier --list-different

fix(react): error boundary reset using render prop (#177)
  .changeset/yellow-clocks-deliver.md
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
Due: prettier --list-different

test(react): add spec for HOC's displayName (#175)
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
Due: none

feat(react): add getError, remove unnecessary generic (#176)
  .changeset/eleven-lobsters-divide.md
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/experimental/Await.tsx
Due: prettier --list-different

chore: version packages
  .changeset/eleven-lobsters-divide.md
  .changeset/yellow-clocks-deliver.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#178)
  .changeset/eleven-lobsters-divide.md
  .changeset/yellow-clocks-deliver.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

docs: add code of conduct
  CODE_OF_CONDUCT.md
Due: prettier --list-different

chore: update contact
  CODE_OF_CONDUCT.md
Due: prettier --list-different

docs: add code of conduct (#180)
  CODE_OF_CONDUCT.md
Due: prettier --list-different

chore(eslint): jsdoc (#174)
  configs/eslint-config-js/noimport.js
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  configs/eslint-config/react-js.js
  configs/eslint-config/react-ts-noimport.js
  configs/eslint-config/react-ts.js
  pnpm-lock.yaml
Due: none

fix(react-query): correct peerDeps version
  packages/react-query/package.json
Due: none

Create dull-brooms-confess.md
  .changeset/dull-brooms-confess.md
Due: prettier --list-different

fix(react-query): correct peerDeps version (#184)
  .changeset/dull-brooms-confess.md
  packages/react-query/package.json
Due: prettier --list-different

chore: version packages
  .changeset/dull-brooms-confess.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#185)
  .changeset/dull-brooms-confess.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

docs(react): add experimental feature description for useErrorBoundary
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.tsx
Due: none

docs(react): update doc of suspense
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

docs(react): update doc of suspense (#186)
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

docs: describe component as bracket
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/Delay.en.mdx
  packages/react/src/Delay.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
  packages/react/src/SuspensiveProvider.en.mdx
  packages/react/src/SuspensiveProvider.ko.mdx
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
Due: none

feat(react): add useErrorBoundary (#152)
  .changeset/old-mails-pump.md
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/index.ts
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react/experimental/useErrorBoundary/page.tsx
Due: eslint, prettier --list-different

chore: version packages
  .changeset/old-mails-pump.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

fix(react-query): update peerDeps
  packages/react-query/package.json
Due: none

chore: version packages (#189)
  .changeset/old-mails-pump.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

docs: describe component as bracket (#187)
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/Delay.en.mdx
  packages/react/src/Delay.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
  packages/react/src/SuspensiveProvider.en.mdx
  packages/react/src/SuspensiveProvider.ko.mdx
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
Due: none

docs(react): update doc for ErrorBoundary
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

Update packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.en.mdx
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
