Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

docs(react): translate doc about ErrorBoundaryGroup
  packages/react/src/ErrorBoundaryGroup.en.md
  packages/react/src/ErrorBoundaryGroup.ko.md
Due: prettier --list-different

docs(react): translate doc about AsyncBoundary
  packages/react/src/AsyncBoundary.en.md
  packages/react/src/AsyncBoundary.ko.md
Due: prettier --list-different

docs(react): translate README.md
  packages/react-query/README.ko.md
  packages/react-query/README.md
  packages/react/README.ko.md
  packages/react/README.md
Due: prettier --list-different

chore(docs): remove unnecessary files
  websites/docs/.gitignore
  websites/docs/docs/intro/_category_.json
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/intro/installation.i18n.md
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/intro/motivation.i18n.md
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/react-query/README.i18n.md
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/react-query/src/QueryErrorResetBoundary.i18n.md
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/react-query/src/useSuspenseInfiniteQuery.i18n.md
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/react-query/src/useSuspenseQuery.i18n.md
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/react/README.i18n.md
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/react/src/AsyncBoundary.i18n.md
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/react/src/ErrorBoundary.i18n.md
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/react/src/ErrorBoundaryGroup.i18n.md
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current/react/src/Suspense.i18n.md
Due: prettier --list-different

build(docs): clarify scripts
  websites/docs/package.json
Due: none

chore(all): sort package.json
  configs/eslint-config-custom/package.json
  configs/rollup/package.json
  packages/react-query/package.json
  packages/react/package.json
Due: none

docs(all): translate all rest docs
  packages/react-query/README.ko.md
  packages/react-query/README.md
  packages/react-query/src/QueryErrorResetBoundary.en.md
  packages/react-query/src/QueryErrorResetBoundary.ko.md
  packages/react-query/src/useSuspenseInfiniteQuery.ko.md
  packages/react-query/src/useSuspenseQuery.ko.md
  packages/react/README.ko.md
  packages/react/README.md
  packages/react/src/AsyncBoundary.en.md
  packages/react/src/AsyncBoundary.ko.md
  packages/react/src/Suspense.ko.md
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
  websites/docs/intro/motivation.en.md
  websites/docs/intro/motivation.ko.md
  websites/docs/intro/visualization.en.md
  websites/docs/intro/visualization.ko.md
Due: prettier --list-different

docs: update README.ko.md
  packages/react-query/README.ko.md
  packages/react/README.ko.md
Due: prettier --list-different

chore(CODEOWNERS): add manudeli in codeowners
  .github/CODEOWNERS
Due: none

docs: add related.md
  websites/docs/intro/related.en.md
  websites/docs/intro/related.ko.md
Due: prettier --list-different

docs(README.md): fix link url
  README.md
Due: prettier --list-different

docs: add iframe to make users interact with visualization website
  websites/docs/intro/visualization.en.md
  websites/docs/intro/visualization.ko.md
  websites/docs/static/gif/visualization-core-concepts.gif
Due: prettier --list-different

docs: add js-doc
  .lintstagedrc
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
Due: eslint

chore(all): deploy 1.5.1 with js-doc
  .yarn/install-state.gz
  packages/react-query/package.json
  packages/react/package.json
  websites/visualization/package.json
  yarn.lock
Due: none

feat(docs): support mdx file extension
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.en.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.ko.mdx
  packages/react-query/src/useSuspenseQuery.en.mdx
  packages/react-query/src/useSuspenseQuery.ko.mdx
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
  websites/docs/scripts/build-docs/generate-docs-from-md.ts
Due: eslint

feat(react): add displayName for withErrorBoundaryGroup to improve DX
  packages/react/src/ErrorBoundaryGroup.tsx
Due: none

fix(react): optimize useErrorBoundaryGroup's return
  packages/react/src/ErrorBoundaryGroup.tsx
Due: none

fix(react-query): fix type of QueryAsyncBoundary
  packages/react-query/src/QueryAsyncBoundary.tsx
Due: none

feat(react): add hoc of Suspense
  .yarn/install-state.gz
  packages/react-query/package.json
  packages/react/package.json
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  websites/visualization/.pnp.cjs
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.5.0-3c3cbab005-aaf5fc09a4.zip
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.6.1-69cf4802fb-15032e864c.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.5.0-5e91c6786d-982f2649cb.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.6.1-e98c08251e-0cef5adc59.zip
  websites/visualization/.yarn/install-state.gz
  websites/visualization/package.json
  websites/visualization/yarn.lock
  yarn.lock
Due: eslint

feat(react): add displayName to improve DX
  .yarn/install-state.gz
  packages/react-query/package.json
  packages/react/package.json
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/Suspense.tsx
  websites/visualization/.pnp.cjs
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.6.1-69cf4802fb-15032e864c.zip
  websites/visualization/.yarn/cache/@suspensive-react-npm-1.6.4-6cf3ab6951-c09a94adf2.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.6.1-e98c08251e-0cef5adc59.zip
  websites/visualization/.yarn/cache/@suspensive-react-query-npm-1.6.4-8a85163d6e-3f46b1f903.zip
  websites/visualization/.yarn/install-state.gz
  websites/visualization/package.json
  websites/visualization/yarn.lock
  yarn.lock
Due: none
