Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

fix(react): rename useSuspenseCache to useAwait, suspenseCache to suspensiveCache (#83)
  .changeset/plenty-mayflies-cry.md
  README.md
  configs/tsup/src/index.ts
  packages/react/package.json
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/__test__/experimental/Await.spec.tsx
  packages/react/src/__test__/utils/index.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/experimental/suspensiveCache.tsx
  packages/react/src/index.ts
  packages/react/src/types/index.ts
  packages/react/src/useSuspenseCache.tsx
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react/experimental/await/page.tsx
  websites/visualization/src/app/react/useSuspenseCache/page.tsx
Due: eslint, prettier --list-different

chore: version packages
  .changeset/plenty-mayflies-cry.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#136)
  .changeset/plenty-mayflies-cry.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

refactor(react, react-query): remove __test__ directory to collocate
  configs/tsup/src/index.ts
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/utils.spec.tsx
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withSuspense.spec.tsx
Due: eslint

fix(tsup): shortly by following globby syntax
  configs/tsup/src/index.ts
Due: eslint

fix: utils/toTest
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/utils/toTest.tsx
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withSuspense.spec.tsx
Due: none

fix(labeler.yml): update
  .github/labeler.yml
Due: none

fix: remove space
  .github/labeler.yml
Due: none

fix: update
  .github/labeler.yml
Due: none

fix(labeler.yml): update (#138)
  .github/labeler.yml
Due: none

Create young-balloons-peel.md
  .changeset/young-balloons-peel.md
Due: prettier --list-different

refactor(react, react-query): remove __test__ directory to collocate (#137)
  .changeset/young-balloons-peel.md
  configs/tsup/src/index.ts
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/utils/toTest.tsx
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withSuspense.spec.tsx
Due: eslint, prettier --list-different

chore: version packages
  .changeset/young-balloons-peel.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#139)
  .changeset/young-balloons-peel.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

refactor(react): merge hoc's code into original component file
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/experimental/suspensiveCache.tsx
  packages/react/src/hooks/useIsChanged.spec.ts
  packages/react/src/hooks/useIsChanged.ts
  packages/react/src/hooks/useIsChanged/index.ts
  packages/react/src/hooks/useIsChanged/useIsChanged.ts
  packages/react/src/hooks/useIsMounted.spec.ts
  packages/react/src/hooks/useIsMounted.ts
  packages/react/src/hooks/useIsMounted/index.ts
  packages/react/src/hooks/useKey.spec.ts
  packages/react/src/hooks/useKey.ts
  packages/react/src/hooks/useKey/index.ts
  packages/react/src/hooks/usePrevious.spec.ts
  packages/react/src/hooks/usePrevious.ts
  packages/react/src/hooks/usePrevious/index.ts
  packages/react/src/hooks/useRerender.spec.ts
  packages/react/src/hooks/useRerender.ts
  packages/react/src/hooks/useRerender/index.ts
  packages/react/src/index.ts
  packages/react/src/types/PropsWithoutChildren.ts
  packages/react/src/types/Tuple.ts
  packages/react/src/types/index.ts
  packages/react/src/utils/hasResetKeysChanged.spec.ts
  packages/react/src/utils/hasResetKeysChanged.ts
  packages/react/src/utils/hasResetKeysChanged/hasResetKeysChanged.ts
  packages/react/src/utils/hasResetKeysChanged/index.ts
  packages/react/src/withAsyncBoundary.tsx
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withDelay.tsx
  packages/react/src/withErrorBoundary.tsx
  packages/react/src/withErrorBoundaryGroup.tsx
  packages/react/src/withSuspense.spec.tsx
  packages/react/src/withSuspense.tsx
Due: eslint

Create nice-pans-enjoy.md
  .changeset/nice-pans-enjoy.md
Due: prettier --list-different

test(react): add withAsyncBoundary test case
  packages/react/src/AsyncBoundary.spec.tsx
Due: none

test(react): add withErrorBoundaryGroup test case
  packages/react/src/ErrorBoundaryGroup.spec.tsx
Due: none

fix(react): replace useEffect to use-sync-external-store
  package.json
  packages/react/package.json
  packages/react/src/experimental/Await.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useRerender/index.ts
  packages/react/src/hooks/useRerender/useRerender.spec.ts
  packages/react/src/hooks/useRerender/useRerender.ts
  pnpm-lock.yaml
  websites/visualization/src/app/api/delay/route.ts
  websites/visualization/src/app/api/during/route.ts
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/experimental/await/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/utils/api.ts
Due: eslint

Create six-months-explode.md
  .changeset/six-months-explode.md
Due: prettier --list-different

fix: remove unnecessary space
  packages/react/src/experimental/Await.tsx
Due: none

chore(package.json): more detail
  packages/react-query/package.json
  packages/react/package.json
  websites/docs/package.json
  websites/visualization/package.json
Due: none

Create wet-zebras-fail.md
  .changeset/wet-zebras-fail.md
Due: prettier --list-different

chore(package.json): more detail (#144)
  .changeset/wet-zebras-fail.md
  packages/react-query/package.json
  packages/react/package.json
  websites/docs/package.json
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages
  .changeset/wet-zebras-fail.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#145)
  .changeset/wet-zebras-fail.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

docs(react): documentation for experimental features
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
  packages/react/src/experimental/_category_.json
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current.json
Due: none

docs(react): update for Await
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
Due: none

docs(react): add note for experimental feature
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
Due: none

docs(react): documentation for experimental Await (#146)
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
  packages/react/src/experimental/_category_.json
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current.json
Due: none

chore: version packages
  .changeset/nice-pans-enjoy.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#148)
  .changeset/nice-pans-enjoy.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

refactor: update name for Await
  packages/react/package.json
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/experimental/suspensiveCache.tsx
Due: eslint
