Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

chore(deps): bump tough-cookie from 4.1.2 to 4.1.3 (#206)
  pnpm-lock.yaml
Due: none

docs: add changelogs
  docs/src/components/HomePage.tsx
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
  docs/src/pages/docs/changelogs.en.mdx
  docs/src/pages/docs/changelogs.ko.mdx
Due: none

feat(utils): add isServer & isClient
  packages/react/src/utils/index.ts
  packages/react/src/utils/isClient.ts
  packages/react/src/utils/isServer.ts
Due: eslint

feat(hooks): add useIsomorphicLayoutEffect
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
Due: eslint

fix: convert useEffect with useLayoutEffect
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
Due: eslint

docs: update jsdoc links
  README.md
  docs/src/pages/docs/react-query/installation.en.mdx
  docs/src/pages/docs/react-query/installation.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react/installation.en.mdx
  docs/src/pages/docs/react/installation.ko.mdx
  docs/src/pages/index.en.mdx
  docs/src/pages/index.ko.mdx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
Due: eslint, prettier --list-different

Create curly-coins-hug.md
  .changeset/curly-coins-hug.md
Due: prettier --list-different

refactor(react-await): update unnecessary things
  packages/react-await/CHANGELOG.md
  packages/react-await/README.ko.md
  packages/react-await/README.md
Due: prettier --list-different

chore: update
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
  docs/src/pages/docs/react-await/installation.en.mdx
  docs/src/pages/docs/react-await/installation.ko.mdx
Due: none

Update docs/src/pages/docs/react/installation.ko.mdx
  docs/src/pages/docs/react/installation.ko.mdx
Due: none

docs: update jsdoc links (#240)
  .changeset/curly-coins-hug.md
  README.md
  docs/src/pages/docs/react-query/installation.en.mdx
  docs/src/pages/docs/react-query/installation.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react/installation.en.mdx
  docs/src/pages/docs/react/installation.ko.mdx
  docs/src/pages/index.en.mdx
  docs/src/pages/index.ko.mdx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
Due: eslint, prettier --list-different

chore: version packages
  .changeset/curly-coins-hug.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#241)
  .changeset/curly-coins-hug.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

Create shaggy-apples-brush.md
  .changeset/shaggy-apples-brush.md
Due: prettier --list-different

docs(README.md): add total downloads of each packages
  README.md
Due: prettier --list-different

docs: add @vercel/analytics
  docs/package.json
  docs/src/pages/_app.mdx
  pnpm-lock.yaml
Due: none

Update packages/react/src/hooks/useIsomorphicLayoutEffect.ts
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
Due: eslint

chore: pnpm install
  pnpm-lock.yaml
Due: none

chore: delete isClient, isServer function
  packages/react/src/utils/index.ts
  packages/react/src/utils/isClient.ts
  packages/react/src/utils/isServer.ts
Due: eslint

chore: add dev commands for docs
  package.json
Due: none

docs: #202 add codeline highlight in Suspense
  docs/src/pages/docs/react/Suspense.en.mdx
  docs/src/pages/docs/react/Suspense.ko.mdx
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: update
  .changeset/shaggy-apples-brush.md
Due: prettier --list-different

feat(hook/utils): add useIsomorphicLayoutEffect (#239)
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
  packages/react/src/utils/index.ts
Due: eslint

chore: update
  packages/react/src/utils/index.ts
Due: eslint

chore(CONTRIBUTING.md): update link correctly
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --list-different

docs(README.md): remove experimental `<Await/>` in @suspensive/react
  README.md
Due: prettier --list-different

chore(visualization): add @vercel/analytics
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
Due: none
