Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

perf(workflows/ci.yml): shorten time
  .github/workflows/ci.yml
Due: none

ci(react): updated
  packages/react/src/__test__/useSuspenseCache.spec.tsx
Due: none

test(react): import all from index.ts
  packages/react/src/__test__/AsyncBoundary.spec.tsx
  packages/react/src/__test__/Delay.spec.tsx
  packages/react/src/__test__/ErrorBoundary.spec.tsx
  packages/react/src/__test__/ErrorBoundaryGroup.spec.tsx
  packages/react/src/__test__/Suspense.spec.tsx
  packages/react/src/__test__/SuspensiveProvider.spec.tsx
  packages/react/src/__test__/withDelay.spec.tsx
  packages/react/src/__test__/withSuspense.spec.tsx
Due: none

ci(test): migrate jest to vitest (#129)
  .changeset/rotten-crabs-return.md
  .github/labeler.yml
  configs/babel/.eslintrc.cjs
  configs/babel/index.js
  configs/babel/package.json
  configs/eslint-config-js/noimport.js
  configs/eslint-config-js/package.json
  configs/jest/.eslintrc.cjs
  configs/jest/jest.config.js
  configs/jest/package.json
  package.json
  packages/react-query/babel.config.cjs
  packages/react-query/jest.config.cjs
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/test.setup.ts
  packages/react-query/tsconfig.json
  packages/react-query/vitest.config.ts
  packages/react/babel.config.cjs
  packages/react/jest.config.cjs
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/__test__/AsyncBoundary.spec.tsx
  packages/react/src/__test__/Delay.spec.tsx
  packages/react/src/__test__/ErrorBoundary.spec.tsx
  packages/react/src/__test__/ErrorBoundaryGroup.spec.tsx
  packages/react/src/__test__/Suspense.spec.tsx
  packages/react/src/__test__/SuspensiveProvider.spec.tsx
  packages/react/src/__test__/withDelay.spec.tsx
  packages/react/src/__test__/withSuspense.spec.tsx
  packages/react/test.setup.ts
  packages/react/tsconfig.json
  packages/react/vitest.config.ts
  pnpm-lock.yaml
  websites/visualization/package.json
Due: eslint, prettier --list-different

feat(vitest): add @suspensive/vitest generating named config automatically by packageJson.name
  configs/eslint-config-js/package.json
  configs/vitest/.eslintrc.cjs
  configs/vitest/package.json
  configs/vitest/src/index.ts
  configs/vitest/tsconfig.json
  packages/react-query/package.json
  packages/react-query/vitest.config.ts
  packages/react/package.json
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Due: eslint

Update packages/react/vitest.config.ts
  packages/react/vitest.config.ts
Due: eslint

ci(.github/workflows): update
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
Due: none

Create dry-phones-applaud.md
  .changeset/dry-phones-applaud.md
Due: prettier --list-different

feat(vitest): add @suspensive/vitest generating named config automatically by packageJson.name (#131)
  .changeset/dry-phones-applaud.md
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  configs/eslint-config-js/package.json
  configs/vitest/.eslintrc.cjs
  configs/vitest/package.json
  configs/vitest/src/index.ts
  configs/vitest/tsconfig.json
  packages/react-query/package.json
  packages/react-query/vitest.config.ts
  packages/react/package.json
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --list-different

chore: version packages
  .changeset/dry-phones-applaud.md
  .changeset/rotten-crabs-return.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

test(react): vitest update
  packages/react/src/__test__/useSuspenseCache.spec.tsx
Due: none

fix: update this later
  packages/react/src/withAsyncBoundary.tsx
  packages/react/src/withDelay.tsx
  packages/react/src/withErrorBoundary.tsx
  packages/react/src/withErrorBoundaryGroup.tsx
  packages/react/src/withSuspense.tsx
Due: none

chore: version packages (#132)
  .changeset/dry-phones-applaud.md
  .changeset/rotten-crabs-return.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

refactor(react): rename suspenseCache to Await
  README.md
  configs/tsup/src/index.ts
  packages/react/package.json
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/__test__/experimental/Await.spec.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/experimental/suspensiveCache.tsx
  packages/react/src/index.ts
  packages/react/src/types/index.ts
  websites/docs/docusaurus.config.js
  websites/docs/tsconfig.json
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react/experimental/await/page.tsx
  websites/visualization/src/app/react/useSuspenseCache/page.tsx
  websites/visualization/tsconfig.json
Due: eslint, prettier --list-different

chore: update changeset
  .changeset/plenty-mayflies-cry.md
Due: prettier --list-different

chore: simple dependencies
  configs/tsup/package.json
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/docs/docusaurus.config.js
  websites/docs/tsconfig.json
  websites/visualization/tsconfig.json
Due: none

fix(labeler): shortly
  .github/labeler.yml
Due: none

fix: select files
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

fix: more detail
  .github/labeler.yml
Due: none

chore: helpful scripts
  configs/tsup/package.json
  configs/tsup/src/index.ts
  configs/vitest/package.json
  configs/vitest/src/index.ts
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint

fix(labeler): shortly, add more detail (#133)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

feat(react): change experimental Delay, SuspensiveProvider to stable (#123)
  .changeset/red-bags-battle.md
  README.md
  packages/react/src/Delay.en.mdx
  packages/react/src/Delay.ko.mdx
  packages/react/src/Delay.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.en.mdx
  packages/react/src/SuspensiveProvider.ko.mdx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/__test__/SuspensiveProvider.spec.tsx
  packages/react/src/index.ts
  packages/react/src/types/index.ts
  websites/visualization/src/app/providers.tsx
Due: eslint, prettier --list-different

fix(react): resolve ci
  packages/react/src/types/index.ts
Due: eslint

chore: helpful scripts (#134)
  configs/tsup/package.json
  configs/tsup/src/index.ts
  configs/vitest/package.json
  configs/vitest/src/index.ts
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint

chore: version packages
  .changeset/red-bags-battle.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

fix: update delay position
  packages/react/src/__test__/experimental/Await.spec.tsx
  packages/react/src/__test__/utils/index.tsx
  packages/react/src/experimental/index.ts
Due: eslint

fix: clarify interface
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/suspensiveCache.tsx
Due: none

Update README.md
  README.md
Due: prettier --list-different

docs: update
  README.md
Due: prettier --list-different

Update websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/CommonLayout.tsx
Due: none

chore: update
  .changeset/plenty-mayflies-cry.md
Due: prettier --list-different

chore: version packages (#135)
  .changeset/red-bags-battle.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

Apply suggestions from code review
  .changeset/plenty-mayflies-cry.md
Due: prettier --list-different

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
