Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

chore: update
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/utils/assert.ts
  packages/react/src/utils/toTest.tsx
Due: eslint

test(react): update
  packages/react/src/experimental/Await.spec.tsx
Due: none

Create olive-hounds-nail.md
  .changeset/olive-hounds-nail.md
Due: prettier --list-different

refactor(react): to easier code (#217)
  .changeset/olive-hounds-nail.md
  README.md
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/utils/assert.ts
  packages/react/src/utils/toTest.tsx
  websites/visualization/src/app/react/experimental/await/page.tsx
  websites/visualization/src/components/RejectedFallback.tsx
Due: eslint, prettier --list-different

chore: version packages
  .changeset/olive-hounds-nail.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: update
  websites/visualization/src/app/react/experimental/useErrorBoundary/page.tsx
Due: none

Create two-weeks-serve.md
  .changeset/two-weeks-serve.md
Due: prettier --list-different

chore: version packages (#218)
  .changeset/olive-hounds-nail.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

Update packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

chore(.vscode): update organizeImports
  .vscode/settings.json
  packages/react/src/ErrorBoundary.tsx
Due: none

docs(react): update
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

chore(.vscode): update settings.json
  .vscode/settings.json
Due: none

chore(eslint): add no-duplicates, consistent-type-imports
  configs/eslint-config-js/javascript.js
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/typescript.js
Due: none

docs: update
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

docs(errorboundary): change & add example case for ErrorBoundary
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

docs(react/errorboundary): change & add example case to ErrorBoundary (en)
  packages/react/src/ErrorBoundary.en.mdx
Due: none

chore(.vscode): add editor.codeActionsOnSave.source.fixAll.eslint: true
  .vscode/settings.json
Due: none

chore(eslint): update to all error
  configs/eslint-config-js/javascript.js
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/typescript.js
Due: none

chore: update all source as eslint rule
  configs/tsup/src/index.ts
  configs/vitest/src/index.ts
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/types/PropsWithoutChildren.ts
  packages/react/src/utils/hashKey.ts
  packages/react/src/utils/toTest.tsx
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/providers.tsx
  websites/visualization/src/app/react-query/playground/components/suspensive.tsx
  websites/visualization/src/app/react-query/playground/components/tanstack.tsx
  websites/visualization/src/app/react/experimental/useErrorBoundary/page.tsx
  websites/visualization/src/components/RejectedFallback.tsx
  websites/visualization/src/components/uis/index.tsx
Due: eslint

Create good-ads-wait.md
  .changeset/good-ads-wait.md
Due: prettier --list-different

chore(eslint): add no-duplicates, consistent-type-imports (#219)
  .changeset/good-ads-wait.md
  .vscode/settings.json
  configs/eslint-config-js/javascript.js
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/typescript.js
  configs/tsup/src/index.ts
  configs/vitest/src/index.ts
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/types/PropsWithoutChildren.ts
  packages/react/src/utils/hashKey.ts
  packages/react/src/utils/toTest.tsx
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/providers.tsx
  websites/visualization/src/app/react-query/playground/components/suspensive.tsx
  websites/visualization/src/app/react-query/playground/components/tanstack.tsx
  websites/visualization/src/app/react/experimental/useErrorBoundary/page.tsx
  websites/visualization/src/components/RejectedFallback.tsx
  websites/visualization/src/components/uis/index.tsx
Due: eslint, prettier --list-different

docs(README.md): update contributing and contributors
  README.md
Due: prettier --list-different

chore: minsoo-web as CODEOWNERS, releaser
  .github/CODEOWNERS
  .github/workflows/release.yml
Due: none

docs(react): suggestion
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

chore: update
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

docs(react): suggestion to advise/useErrorBoundaryProps (#227)
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

Update packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.en.mdx
Due: none

Update ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

Update ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.en.mdx
Due: none

chore(.github): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --list-different

docs(README.md): update contributing and contributors (#225)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: prettier --list-different

advise(react/errorboundary): add & change example case (#221)
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

chore: minsoo-web as CODEOWNERS, releaser (#226)
  .github/CODEOWNERS
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
