Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

chore(visualization): add @vercel/analytics
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
Due: none

chore: version packages
  .changeset/modern-geese-shave.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#244)
  .changeset/modern-geese-shave.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

docs: #202 add codeline highlight in ErrorBoundary
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
Due: none

refactor(react/hooks): rename useIsMount & update useEffect to useIsomorphicLayoutEffect
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsCSROnly.spec.ts
  packages/react/src/hooks/useIsCSROnly.ts
  packages/react/src/hooks/useIsMounted.spec.ts
  packages/react/src/hooks/useIsMounted.ts
Due: eslint

fix: update useIsMount to useIsCSROnly case in Suspense.CSROnly
  packages/react/src/Suspense.tsx
Due: none

Create tame-shrimps-rescue.md
  .changeset/tame-shrimps-rescue.md
Due: prettier --list-different

chore: update ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: update
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --list-different

chore: update codecov for @suspensive/react-await
  codecov.yml
Due: none

chore: update codecov for @suspensive/react-await (#251)
  codecov.yml
Due: none

chore: update ISSUE_TEMPLATE (#250)
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --list-different

docs(react): add codeline highlight (#242)
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/src/pages/docs/react/Suspense.en.mdx
  docs/src/pages/docs/react/Suspense.ko.mdx
  package.json
Due: none

fix: convert naming useIsCSROnly to useIsClient
  packages/react/src/Suspense.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsClient.spec.ts
  packages/react/src/hooks/useIsClient.ts
Due: eslint

feat(react): update useErrorBoundary from experimental to stable
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.tsx
Due: none

Create long-steaks-grin.md
  .changeset/long-steaks-grin.md
Due: prettier --list-different

refactor(test-utils): add package for test utils
  configs/test-utils/.eslintrc.cjs
  configs/test-utils/package.json
  configs/test-utils/src/index.tsx
  configs/test-utils/tsconfig.json
  packages/react-await/package.json
  packages/react-await/src/Await.spec.tsx
  packages/react-await/src/utils/toTest.tsx
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  pnpm-lock.yaml
Due: none

chore: update
  configs/test-utils/package.json
  configs/test-utils/tsup.config.ts
  packages/react/src/hooks/useSetTimeout.spec.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint

chore: update
  configs/test-utils/package.json
Due: none

fix(react): remove unnecessary @types/use-sync-external-store
  packages/react/package.json
  pnpm-lock.yaml
Due: none

Create orange-hotels-repair.md
  .changeset/orange-hotels-repair.md
Due: prettier --list-different

chore: update
  configs/test-utils/.eslintrc.cjs
Due: none

Create real-hairs-provide.md
  .changeset/real-hairs-provide.md
Due: prettier --list-different

fix(react): remove unnecessary @types/use-sync-external-store (#257)
  .changeset/orange-hotels-repair.md
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: version packages
  .changeset/orange-hotels-repair.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#258)
  .changeset/orange-hotels-repair.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

fix(react): rename useIsMount & update useEffect to useIsomorphicLayoutEffect (#246)
  .changeset/tame-shrimps-rescue.md
  packages/react/src/Suspense.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsClient.spec.ts
  packages/react/src/hooks/useIsClient.ts
  packages/react/src/hooks/useIsMounted.spec.ts
  packages/react/src/hooks/useIsMounted.ts
Due: eslint, prettier --list-different

chore: version packages
  .changeset/tame-shrimps-rescue.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#259)
  .changeset/tame-shrimps-rescue.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: remove unnecessary build
  configs/test-utils/package.json
  configs/test-utils/src/Suspend.tsx
  configs/test-utils/src/ThrowError.tsx
  configs/test-utils/src/delay.ts
  configs/test-utils/src/index.ts
  configs/test-utils/tsup.config.ts
  pnpm-lock.yaml
Due: eslint

chore: update
  configs/test-utils/tsconfig.json
Due: none

refactor(test-utils): add package for test utils (#256)
  .changeset/real-hairs-provide.md
  configs/test-utils/.eslintrc.cjs
  configs/test-utils/package.json
  configs/test-utils/src/Suspend.tsx
  configs/test-utils/src/ThrowError.tsx
  configs/test-utils/src/delay.ts
  configs/test-utils/src/index.ts
  configs/test-utils/tsconfig.json
  packages/react-await/package.json
  packages/react-await/src/Await.spec.tsx
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/hooks/useSetTimeout.spec.ts
  packages/react/src/utils/toTest.tsx
  pnpm-lock.yaml
  turbo.json
Due: eslint, prettier --list-different

chore: version packages
  .changeset/real-hairs-provide.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different
