Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

chore: minsoo-web as CODEOWNERS, releaser (#226)
  .github/CODEOWNERS
  .github/workflows/release.yml
Due: none

docs: update bug ISSUE_TEMPLATE md to yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --list-different

Update .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

docs: update bug ISSUE_TEMPLATE md to yml (#228)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --list-different

fix(docs): add media query with tailwind
  docs/src/components/HomePage.tsx
  docs/src/pages/_app.tsx
  docs/src/pages/index.en.mdx
  docs/src/pages/index.ko.mdx
  docs/src/styles/globals.css
Due: none

chore: version packages
  .changeset/good-ads-wait.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#224)
  .changeset/good-ads-wait.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

feat(react): add useErrorBoundaryFallbackProps (#216)
  .changeset/two-weeks-serve.md
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/index.ts
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/assert.ts
  websites/visualization/src/app/react/experimental/useErrorBoundary/page.tsx
Due: eslint, prettier --list-different

chore: version packages
  .changeset/two-weeks-serve.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#231)
  .changeset/two-weeks-serve.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

docs: update all Callout
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/src/pages/docs/react/Suspense.en.mdx
Due: none

docs: update docs about ErrorBoundary
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
Due: none

chore: update
  .changeset/config.json
  docs/next.config.js
  docs/package.json
  package.json
  turbo.json
Due: none

chore: update
  docs/src/app/favicon.ico
  docs/tsconfig.json
Due: none

Create four-roses-pay.md
  .changeset/four-roses-pay.md
Due: prettier --list-different

chore: version packages
  .changeset/four-roses-pay.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#233)
  .changeset/four-roses-pay.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

docs: update
  docs/public/banner.png
  docs/src/components/HomePage.tsx
  docs/src/pages/404.mdx
  docs/src/pages/_app.mdx
  docs/src/pages/_app.tsx
  docs/src/pages/_meta.en.json
  docs/src/pages/_meta.ko.json
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
  docs/src/pages/index.en.mdx
  docs/src/pages/index.ko.mdx
  docs/theme.config.tsx
Due: none

chore: update
  .github/labeler.yml
Due: none

Create modern-geese-shave.md
  .changeset/modern-geese-shave.md
Due: prettier --list-different

chore(docs): banner
  docs/public/banner.png
Due: none

chore: add experimental
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
Due: none

feat(react): add all props type of all components (#196)
  .changeset/quiet-squids-shop.md
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/index.ts
Due: eslint, prettier --list-different

chore(docs): banner and separator
  docs/public/banner.png
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
Due: none

chore: version packages
  .changeset/quiet-squids-shop.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#235)
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/index.ts
  pnpm-lock.yaml
  websites/visualization/package.json
Due: eslint, prettier --list-different
