Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

refactor(eslint, tsconfig): simply (#116)
  .changeset/serious-moose-bathe.md
  configs/babel/package.json
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  configs/jest/package.json
  configs/tsup/package.json
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/docs/package.json
  websites/visualization/package.json
Due: prettier --list-different

test(react): add no fallback case of ErrorBoundary
  packages/react/src/__test__/ErrorBoundary.spec.tsx
Due: none

Update packages/react/src/__test__/AsyncBoundary.spec.tsx
  packages/react/src/__test__/AsyncBoundary.spec.tsx
Due: none

test(react): add test case for AsyncBoundary (#118)
  packages/react/src/__test__/AsyncBoundary.spec.tsx
Due: none

fix(react): prevent nullish fallback TypeScriptly
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/__test__/ErrorBoundary.spec.tsx
Due: none

fix(react): prevent nullish fallback TypeScriptly (#122)
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/__test__/ErrorBoundary.spec.tsx
Due: none

fix(react): enable hooks in ErrorBoundary's fallback (#121)
  .changeset/lovely-windows-tan.md
  packages/react/src/ErrorBoundary.tsx
Due: prettier --list-different

chore(.github/workflows): update release.yml
  .github/workflows/release.yml
Due: none

chore: version packages
  .changeset/eight-cats-destroy.md
  .changeset/lovely-windows-tan.md
  .changeset/serious-moose-bathe.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: version packages (#120)
  .changeset/eight-cats-destroy.md
  .changeset/lovely-windows-tan.md
  .changeset/serious-moose-bathe.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

fix(react): change experimental Delay, SuspensiveProvider to stable
  packages/react/src/Delay.en.mdx
  packages/react/src/Delay.ko.mdx
  packages/react/src/Delay.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.en.mdx
  packages/react/src/SuspensiveProvider.ko.mdx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/index.ts
  packages/react/src/types/index.ts
  packages/react/src/withAsyncBoundary.tsx
  packages/react/src/withDelay.tsx
  packages/react/src/withErrorBoundary.tsx
  packages/react/src/withErrorBoundaryGroup.tsx
  packages/react/src/withSuspense.tsx
  websites/visualization/src/app/providers.tsx
Due: eslint

Create chilled-rats-grab.md
  .changeset/chilled-rats-grab.md
Due: prettier --list-different

test(react): update test code for SuspensiveProvider
  packages/react/src/__test__/SuspensiveProvider.spec.tsx
Due: none

fix(react): remove unnecessary isDelayed check
  packages/react/src/Delay.tsx
Due: none

docs(react): updated
  README.md
Due: prettier --list-different

Create red-bags-battle.md
  .changeset/red-bags-battle.md
Due: prettier --list-different

Revert "Create chilled-rats-grab.md"
  .changeset/chilled-rats-grab.md
Due: prettier --list-different

fix(esm): cjs to esm as default
  .github/workflows/ci.yml
  commitlint.config.cjs
  configs/babel/.eslintrc.cjs
  configs/eslint-config-js/.eslintrc.cjs
  configs/eslint-config-ts/.eslintrc.cjs
  configs/eslint-config/.eslintrc.cjs
  configs/jest/.eslintrc.cjs
  configs/tsup/.eslintrc.cjs
  package.json
  packages/react-query/.eslintrc.cjs
  packages/react-query/babel.config.cjs
  packages/react-query/jest.config.cjs
  packages/react-query/jest.config.js
  packages/react-query/package.json
  packages/react-query/src/index.ts
  packages/react/.eslintrc.cjs
  packages/react/babel.config.cjs
  packages/react/jest.config.cjs
  packages/react/jest.config.js
  packages/react/package.json
  pnpm-lock.yaml
  turbo.json
  websites/docs/.eslintrc.cjs
  websites/visualization/.eslintrc.cjs
Due: eslint

Create fuzzy-lizards-build.md
  .changeset/fuzzy-lizards-build.md
Due: prettier --list-different

fix(esm): cjs to esm as default (#125)
  .changeset/fuzzy-lizards-build.md
  .github/workflows/ci.yml
  commitlint.config.cjs
  configs/babel/.eslintrc.cjs
  configs/eslint-config-js/.eslintrc.cjs
  configs/eslint-config-ts/.eslintrc.cjs
  configs/eslint-config/.eslintrc.cjs
  configs/jest/.eslintrc.cjs
  configs/tsup/.eslintrc.cjs
  package.json
  packages/react-query/.eslintrc.cjs
  packages/react-query/babel.config.cjs
  packages/react-query/jest.config.cjs
  packages/react-query/jest.config.js
  packages/react-query/package.json
  packages/react-query/src/index.ts
  packages/react/.eslintrc.cjs
  packages/react/babel.config.cjs
  packages/react/jest.config.cjs
  packages/react/jest.config.js
  packages/react/package.json
  pnpm-lock.yaml
  turbo.json
  websites/docs/.eslintrc.cjs
  websites/visualization/.eslintrc.cjs
Due: eslint, prettier --list-different

chore: version packages
  .changeset/fuzzy-lizards-build.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

ci(vitest): install dependency
  package.json
  pnpm-lock.yaml
Due: none

ci: migrate jest to vitest
  .github/labeler.yml
  configs/jest/.eslintrc.cjs
  configs/jest/jest.config.js
  configs/jest/package.json
  package.json
  packages/react-query/jest.config.cjs
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/test.setup.ts
  packages/react-query/tsconfig.json
  packages/react-query/vitest.config.ts
  packages/react/jest.config.cjs
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/__test__/Delay.spec.tsx
  packages/react/src/__test__/ErrorBoundary.spec.tsx
  packages/react/src/__test__/ErrorBoundaryGroup.spec.tsx
  packages/react/src/__test__/Suspense.spec.tsx
  packages/react/src/__test__/SuspensiveProvider.spec.tsx
  packages/react/src/__test__/withDelay.spec.tsx
  packages/react/src/__test__/withSuspense.spec.tsx
  packages/react/test.setup.ts
  packages/react/tsconfig.json
  packages/react/vitest.config.ts
  pnpm-lock.yaml
  websites/visualization/package.json
Due: eslint

chore: remove unnecessary @suspensive/babel, migrate eslint jest to vitest
  .github/labeler.yml
  configs/babel/.eslintrc.cjs
  configs/babel/index.js
  configs/babel/package.json
  configs/eslint-config-js/noimport.js
  configs/eslint-config-js/package.json
  packages/react-query/babel.config.cjs
  packages/react-query/package.json
  packages/react/babel.config.cjs
  packages/react/package.json
  pnpm-lock.yaml
Due: none

chore: remove unnecessary dependency
  package.json
  pnpm-lock.yaml
Due: none

Create rotten-crabs-return.md
  .changeset/rotten-crabs-return.md
Due: prettier --list-different

feat(react): remove AsyncBoundary
  README.md
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.en.mdx
  packages/react-query/src/QueryErrorBoundary.ko.mdx
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react-query/src/__test__/QueryAsyncBoundary.spec.tsx
  packages/react-query/src/index.ts
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
  packages/react/src/__test__/AsyncBoundary.spec.tsx
  packages/react/src/index.ts
  packages/react/src/withAsyncBoundary.tsx
  websites/docs/i18n/ko/code.json
  websites/docs/intro/motivation.en.md
  websites/docs/intro/motivation.ko.md
  websites/docs/intro/visualization.en.md
  websites/docs/intro/visualization.ko.md
  websites/docs/src/components/HomepageFeatures/index.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
Due: eslint, prettier --list-different

Create beige-hats-listen.md
  .changeset/beige-hats-listen.md
Due: prettier --list-different

test(react-query): add test case for QueryErrorBoundary
  packages/react-query/src/__test__/QueryErrorBoundary.spec.tsx
Due: none

test(react-query): update test code initialization
  packages/react-query/src/__test__/QueryErrorBoundary.spec.tsx
Due: none

fix(visualization): update for removing AsyncBoundary
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/components/RejectedFallback.tsx
  websites/visualization/src/components/UseSuspenseQuery.tsx
Due: none

ci(coverage): build first before test coverage
  .github/workflows/code-coverage.yml
Due: none

ci(visualization): update
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/react/page.tsx
Due: none

chore: version packages (#128)
  .changeset/fuzzy-lizards-build.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

ci(react): updated
  packages/react/src/__test__/useSuspenseCache.spec.tsx
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
