Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

Create rotten-rabbits-clean.md
  .changeset/rotten-rabbits-clean.md
Due: prettier --list-different

refactor: extract unnecessary packages to root (#378)
  .changeset/rotten-rabbits-clean.md
  package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --list-different

chore: version packages
  .changeset/rotten-rabbits-clean.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --list-different

chore: version packages (#379)
  .changeset/rotten-rabbits-clean.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --list-different

chore: add @suspensive/package-json-name
  package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump axios from 1.6.1 to 1.6.2 (#383)
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps): Bump next from 14.0.2 to 14.0.3 (#382)
  docs/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps-dev): Bump lint-staged from 15.0.2 to 15.1.0 (#381)
  package.json
  pnpm-lock.yaml
Due: none

chore: update
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
Due: none

ci(eslint): add @typescript-eslint/naming-convention to lint generic
  configs/eslint-config-js/no-import.js
  configs/eslint-config-ts/no-import.js
  packages/react-await/src/types/Tuple.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react/src/hooks/usePrevious.ts
Due: eslint

chore(release.yml): use setupGitUser default true
  .changeset/chatty-yaks-talk.md
  .github/workflows/release.yml
Due: prettier --list-different

ci(release.yml): remove authors on version
  .github/workflows/release.yml
Due: none

ci(release.yml): remove authors on version (#387)
  .github/workflows/release.yml
Due: none

chore(deps): Bump eslint-plugin-vitest from 0.3.9 to 0.3.10 (#389)
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @types/react from 18.2.37 to 18.2.38 (#388)
  configs/test-utils/package.json
  docs/package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps-dev): Bump vite from 5.0.0 to 5.0.2 (#391)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump @typescript-eslint/eslint-plugin from 6.11.0 to 6.12.0 (#392)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

ci(eslint): add @typescript-eslint/naming-convention to lint generic (#385)
  configs/eslint-config-js/no-import.js
  configs/eslint-config-ts/no-import.js
  packages/react-await/src/types/Tuple.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react/src/hooks/usePrevious.ts
Due: eslint

chore: update
  pnpm-lock.yaml
Due: none

chore: update
  packages/image/package.json
  pnpm-lock.yaml
Due: none

chore: update
  .changeset/warm-moons-confess.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  codecov.yml
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
  packages/image/README.ko.md
  packages/image/README.md
  packages/react-image/.eslintrc.cjs
  packages/react-image/README.ko.md
  packages/react-image/README.md
  packages/react-image/package.json
  packages/react-image/src/Image.tsx
  packages/react-image/src/Load.spec.ts
  packages/react-image/src/Load.ts
  packages/react-image/src/assets/test.png
  packages/react-image/src/index.ts
  packages/react-image/tsconfig.json
  packages/react-image/tsup.config.ts
  packages/react-image/vitest.config.ts
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react-image/page.tsx
Due: eslint, prettier --list-different

feat(@suspensive/react-image): initialize (#353)
  .changeset/warm-moons-confess.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  codecov.yml
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
  package.json
  packages/react-image/.eslintrc.cjs
  packages/react-image/README.ko.md
  packages/react-image/README.md
  packages/react-image/package.json
  packages/react-image/src/Image.tsx
  packages/react-image/src/Load.spec.ts
  packages/react-image/src/Load.ts
  packages/react-image/src/assets/test.png
  packages/react-image/src/index.ts
  packages/react-image/tsconfig.json
  packages/react-image/tsup.config.ts
  packages/react-image/vitest.config.ts
  packages/react-query/vitest.config.ts
  packages/react/vitest.config.ts
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react-image/page.tsx
Due: eslint, prettier --list-different

chore: version packages (#393)
  .changeset/warm-moons-confess.md
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
Due: prettier --list-different

docs(react-image): update
  docs/src/pages/docs/react-image/Image.en.mdx
  docs/src/pages/docs/react-image/Image.ko.mdx
  docs/src/pages/docs/react-image/_meta.en.json
  docs/src/pages/docs/react-image/_meta.ko.json
  docs/src/pages/docs/react-image/installation.en.mdx
  docs/src/pages/docs/react-image/installation.ko.mdx
Due: none

chore(deps-dev): Bump eslint from 8.53.0 to 8.54.0 (#398)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @commitlint/config-conventional from 18.4.2 to 18.4.3 (#397)
  package.json
  pnpm-lock.yaml
Due: none

fix(react-query): @suspensive/react-query all naming convention correctly like v5
  packages/react-query/src/index.ts
  packages/react-query/src/useSuspenseInfiniteQuery.spec.ts
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.spec.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.spec.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/src/useSuspenseQuery.ts
Due: eslint

chore: prepack resolve
  packages/react-query/src/useSuspenseQueries.ts
Due: eslint

chore: update
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.spec.ts
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseQueries.spec.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQuery.spec.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
Due: eslint

chore: update
  package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump tsup from 7.2.0 to 8.0.1 (#399)
  package.json
  pnpm-lock.yaml
Due: none

chore: update
  package.json
  pnpm-lock.yaml
Due: none

chore: update
  codecov.yml
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
