Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

feat(Delay, SuspensiveProvider): add new experimental features
  .gitignore
  packages/react-query/package.json
  packages/react/package.json
  packages/react/src/Delay.tsx
  packages/react/src/DelaySuspense.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/index.ts
  pnpm-lock.yaml
  websites/visualization/components/forPlayground/api.tsx
  websites/visualization/components/forPlayground/suspensive.tsx
  websites/visualization/components/forPlayground/tanstack.tsx
  websites/visualization/package.json
  websites/visualization/pages/_app.tsx
  websites/visualization/pages/react-query/playground.tsx
Due: eslint

refactor(react-query): clarify public api
  packages/react-query/src/index.ts
Due: eslint

docs(README.md): add experimental features
  README.md
Due: prettier --list-different

docs(readme.md): add pnpm command
  README.md
  package.json
  packages/react-query/README.ko.md
  packages/react-query/README.md
  packages/react/README.ko.md
  packages/react/README.md
  turbo.json
Due: prettier --list-different

chore(packlint): add dependency
  .eslintignore
  configs/babel/package.json
  configs/eslint/package.json
  package.json
  packages/react-query/package.json
  packages/react/package.json
  packlint.config.mjs
  pnpm-lock.yaml
  websites/docs/package.json
Due: none

chore(.npmrc): add configuration
  .npmrc
Due: none

fix(react-query): remove from QueryErrorResetBoundary to useQueryErrorResetBoundary
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/utils/index.ts
  packages/react-query/src/utils/isDevelopment.ts
  pnpm-lock.yaml
  websites/visualization/pages/react-query/index.tsx
Due: eslint

chore: When generating PR, track changes and label them appropriately
  .github/labeler.yml
  .github/workflows/labeler-workflow.yml
Due: none

chore: test pr label
  README.md
Due: prettier --list-different

fix: Update .github/labeler.yml
  .github/labeler.yml
Due: none

chore: track changes and label them appropriately on PR (#17)
  .github/labeler.yml
  .github/workflows/labeler-workflow.yml
Due: none

chore: type check with synchronized with PR
  .github/workflows/typescript-workflow.yml
Due: none

fix: use yarn to pnpm in typesciprt workflow
  .github/workflows/typescript-workflow.yml
Due: none

chore: write name for pnpm install phases
  .github/workflows/typescript-workflow.yml
Due: none

fix: install pnpm before pnpm install
  .github/workflows/typescript-workflow.yml
Due: none

chore: lint check with synchronized with PR
  .github/workflows/eslint-workflow.yml
Due: none

chore: merge various test into one workflow
  .github/workflows/ ci-workflow.yml
  package.json
  packages/react-query/package.json
  packages/react/package.json
  turbo.json
Due: none

chore(ci-workflow.yml): format, packlint
  .github/workflows/ci-workflow.yml
  package.json
Due: none

docs: add pnpm install guide to intro page
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
Due: prettier --list-different

fix: pnpm add => pnpm install
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
Due: prettier --list-different

fix(ci-workflow.yml): consistency of workflow
  .github/workflows/ci-workflow.yml
Due: none

ci: check typescript, lint, test code on PR synchronized (#19)
  .github/workflows/ci-workflow.yml
  package.json
  packages/react-query/package.json
  packages/react/package.json
  turbo.json
Due: none

docs: add pnpm install guide to intro page (#21)
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
Due: prettier --list-different

test(jest): add test configuration
  configs/jest/jest.config.js
  configs/jest/package.json
  packages/react-query/jest.config.js
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  pnpm-lock.yaml
Due: none

fix(.github/labeler.yml): add label for @suspensive/jest
  .github/labeler.yml
Due: none

chore(.github/PULL_REQUEST_TEMPLATE.md): add PR Checklist to check adding test, if needed
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --list-different

feat(rtl): add rtl configuration
  configs/jest/jest.config.js
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react/jest.setup.js
  packages/react/package.json
  pnpm-lock.yaml
Due: none

chore(rtl): add dummy rtl test code
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/src/AsyncBoundary.spec.tsx
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
