Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

chore(.github/workflows): check quality concurrently (#41)
  .eslintignore
  .github/workflows/ci-workflow.yml
  package.json
  turbo.json
Due: none

chore(react-query): fix LICENSE.md in @suspensive/react-query to conform MIT license of toss/slash
  packages/react-query/LICENSE
Due: none

Create brown-actors-sniff.md
  .changeset/brown-actors-sniff.md
Due: prettier --list-different

chore(react-query): fix LICENSE.md in @suspensive/react-query to conform MIT license of toss/slash (#42)
  .changeset/brown-actors-sniff.md
  packages/react-query/LICENSE
Due: prettier --list-different

chore: bump packages version
  .changeset/brown-actors-sniff.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version (#43)
  .changeset/brown-actors-sniff.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

feat(react-query): add useSuspenseQueries
  packages/react-query/src/index.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  websites/visualization/components/forPlayground/api.tsx
  websites/visualization/components/forPlayground/suspensive.tsx
  websites/visualization/pages/react-query/playground.tsx
Due: eslint

Create loud-pots-matter.md
  .changeset/loud-pots-matter.md
Due: prettier --list-different

fix(react-query): fix tsd error
  packages/react-query/src/useSuspenseQueries.ts
Due: eslint

chore(websites/visualization): fix examples
  websites/visualization/components/forPlayground/suspensive.tsx
  websites/visualization/components/forPlayground/tanstack.tsx
Due: none

chore(configs/eslint-config-*): eslint correctly
  .vscode/settings.json
  configs/eslint-config-supensive-common/.eslintrc.js
  configs/eslint-config-supensive-common/package.json
  configs/eslint-config-suspensive-next/.eslintrc.js
  configs/eslint-config-suspensive-next/package.json
  configs/eslint-config-suspensive-react/.eslintrc.js
  configs/eslint-config-suspensive-react/package.json
  configs/eslint/common.js
  configs/eslint/next.js
  configs/eslint/package.json
  configs/eslint/react.js
  configs/jest/package.json
  packages/react-query/.eslintrc.js
  packages/react-query/package.json
  packages/react/.eslintrc.js
  packages/react/package.json
  pnpm-lock.yaml
  websites/docs/.eslintrc.js
  websites/docs/package.json
  websites/docs/src/components/HomepageFeatures/index.tsx
  websites/docs/src/pages/index.tsx
  websites/docs/tsconfig.json
  websites/visualization/.eslintrc.js
  websites/visualization/components/forPlayground/api.tsx
  websites/visualization/components/forPlayground/suspensive.tsx
  websites/visualization/components/forPlayground/tanstack.tsx
  websites/visualization/package.json
  websites/visualization/pages/_app.tsx
  websites/visualization/pages/api/during.ts
  websites/visualization/pages/index.tsx
  websites/visualization/pages/react-query/index.tsx
  websites/visualization/pages/react-query/playground.tsx
Due: eslint

fix(.npmrc): node-linker test
  .npmrc
Due: none

chore(eslint-config-suspensive): remove unnecessary packages
  configs/eslint-config-supensive/common.js
  configs/eslint-config-supensive/next.js
  configs/eslint-config-supensive/package.json
  configs/eslint-config-supensive/react.js
  configs/eslint-config-suspensive-next/package.json
  configs/eslint-config-suspensive-react/.eslintrc.js
  configs/eslint-config-suspensive-react/package.json
  packages/react-query/.eslintrc.js
  packages/react-query/package.json
  packages/react/.eslintrc.js
  packages/react/package.json
  pnpm-lock.yaml
  websites/docs/.eslintrc.js
  websites/docs/package.json
  websites/visualization/.eslintrc.js
  websites/visualization/package.json
Due: none

chore(.vscode): add rollup as cSpell.words
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore(.github): update labeler.yml
  .github/labeler.yml
Due: none

fix(eslint-config-suspensive): order correctly
  configs/eslint-config-supensive/common.js
  configs/eslint-config-supensive/next.js
  configs/eslint-config-supensive/package.json
  configs/eslint-config-supensive/react.js
  pnpm-lock.yaml
Due: none

fix(eslint-config-suspensive): dependency
  .npmrc
  .nvmrc
  configs/eslint-config-supensive/package.json
  pnpm-lock.yaml
Due: none

docs(react-query): add document for useSuspenseQueries
  packages/react-query/src/useSuspenseQueries.en.mdx
  packages/react-query/src/useSuspenseQueries.ko.mdx
  packages/react-query/src/useSuspenseQuery.en.mdx
  packages/react-query/src/useSuspenseQuery.ko.mdx
Due: none

chore(eslint-config): update eslint-config-suspensive as scoped package
  configs/eslint-config/common.js
  configs/eslint-config/next.js
  configs/eslint-config/package.json
  configs/eslint-config/react.js
  packages/react-query/.eslintrc.js
  packages/react-query/package.json
  packages/react/.eslintrc.js
  packages/react/package.json
  pnpm-lock.yaml
  websites/docs/.eslintrc.js
  websites/docs/package.json
  websites/visualization/.eslintrc.js
  websites/visualization/package.json
Due: none

chore(configs/eslint-config-suspensive): eslint correctly (#48)
  .github/labeler.yml
  .npmrc
  .nvmrc
  .vscode/extensions.json
  .vscode/settings.json
  configs/eslint-config/common.js
  configs/eslint-config/next.js
  configs/eslint-config/package.json
  configs/eslint-config/react.js
  configs/eslint/common.js
  configs/eslint/next.js
  configs/eslint/package.json
  configs/eslint/react.js
  configs/jest/package.json
  packages/react-query/.eslintrc.js
  packages/react-query/package.json
  packages/react/.eslintrc.js
  packages/react/package.json
  pnpm-lock.yaml
  websites/docs/.eslintrc.js
  websites/docs/package.json
  websites/docs/src/components/HomepageFeatures/index.tsx
  websites/docs/src/pages/index.tsx
  websites/docs/tsconfig.json
  websites/visualization/.eslintrc.js
  websites/visualization/components/forPlayground/api.tsx
  websites/visualization/components/forPlayground/suspensive.tsx
  websites/visualization/components/forPlayground/tanstack.tsx
  websites/visualization/package.json
  websites/visualization/pages/_app.tsx
  websites/visualization/pages/api/during.ts
  websites/visualization/pages/index.tsx
  websites/visualization/pages/react-query/index.tsx
  websites/visualization/pages/react-query/playground.tsx
Due: eslint

fix(react): add next.js appRouter 'use client' directive
  configs/eslint-config/package.json
  configs/rollup/.eslintrc.js
  configs/rollup/index.js
  configs/rollup/package.json
  graph/index.html
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  pnpm-lock.yaml
  websites/visualization/app/global.css
  websites/visualization/app/layout/components/Layout.tsx
  websites/visualization/app/layout/components/Providers.tsx
  websites/visualization/app/layout/components/TopNavigation.tsx
  websites/visualization/app/layout/components/index.ts
  websites/visualization/app/layout/index.tsx
  websites/visualization/app/page.tsx
  websites/visualization/app/react-query/page.tsx
  websites/visualization/app/react-query/playground/page.tsx
  websites/visualization/app/react/page.tsx
  websites/visualization/components/RejectedFallback.tsx
  websites/visualization/components/UseSuspenseQuery.tsx
  websites/visualization/components/uis/index.tsx
  websites/visualization/next.config.js
  websites/visualization/package.json
  websites/visualization/pages/_app.tsx
  websites/visualization/tsconfig.json
Due: eslint

Create twenty-dolls-search.md
  .changeset/twenty-dolls-search.md
Due: prettier --list-different

chore(rollup): remove eslint in rollup
  configs/rollup/.eslintrc.js
  configs/rollup/package.json
  graph/index.html
  pnpm-lock.yaml
Due: none

fix(react): add next.js appRouter 'use client' directive (#52)
  .changeset/twenty-dolls-search.md
  configs/eslint-config/package.json
  configs/rollup/index.js
  graph/index.html
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  pnpm-lock.yaml
  websites/visualization/app/global.css
  websites/visualization/app/layout/components/Layout.tsx
  websites/visualization/app/layout/components/Providers.tsx
  websites/visualization/app/layout/components/TopNavigation.tsx
  websites/visualization/app/layout/components/index.ts
  websites/visualization/app/layout/index.tsx
  websites/visualization/app/page.tsx
  websites/visualization/app/react-query/page.tsx
  websites/visualization/app/react-query/playground/page.tsx
  websites/visualization/app/react/page.tsx
  websites/visualization/components/RejectedFallback.tsx
  websites/visualization/components/UseSuspenseQuery.tsx
  websites/visualization/components/uis/index.tsx
  websites/visualization/next.config.js
  websites/visualization/package.json
  websites/visualization/pages/_app.tsx
  websites/visualization/tsconfig.json
Due: eslint, prettier --list-different

chore: bump packages version
  .changeset/twenty-dolls-search.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version (#54)
  .changeset/twenty-dolls-search.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore(visualization): update directory more like using app router
  websites/visualization/app/react-query/page.tsx
  websites/visualization/app/react-query/playground/components/api.tsx
  websites/visualization/app/react-query/playground/components/index.ts
  websites/visualization/app/react-query/playground/components/suspensive.tsx
  websites/visualization/app/react-query/playground/components/tanstack.tsx
  websites/visualization/app/react-query/playground/components/useIntersectionObserver.ts
  websites/visualization/app/react-query/playground/page.tsx
  websites/visualization/components/index.ts
Due: eslint

feat(react): add useSuspenseCache, suspenseCache
  README.md
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useRerender/index.tsx
  packages/react/src/index.ts
  packages/react/src/useSuspenseCache.tsx
  websites/visualization/api.ts
  websites/visualization/app/layout/components/Providers.tsx
  websites/visualization/app/layout/index.tsx
  websites/visualization/app/useSuspenseCache/page.tsx
Due: eslint, prettier --list-different

Create modern-seahorses-sing.md
  .changeset/modern-seahorses-sing.md
Due: prettier --list-different

chore(react-query): correct type
  packages/react-query/src/useSuspenseQueries.ts
  pnpm-lock.yaml
Due: eslint

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(react): use this keyword in method of suspenseCache
  packages/react/src/useSuspenseCache.tsx
  websites/visualization/app/layout/index.tsx
Due: none

feat(react-query): add useSuspenseQueries (#47)
  .changeset/loud-pots-matter.md
  packages/react-query/src/index.ts
  packages/react-query/src/useSuspenseQueries.en.mdx
  packages/react-query/src/useSuspenseQueries.ko.mdx
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.en.mdx
  packages/react-query/src/useSuspenseQuery.ko.mdx
  packages/react-query/src/useSuspenseQuery.ts
  pnpm-lock.yaml
  websites/visualization/app/react-query/page.tsx
  websites/visualization/app/react-query/playground/components/api.tsx
  websites/visualization/app/react-query/playground/components/index.ts
  websites/visualization/app/react-query/playground/components/suspensive.tsx
  websites/visualization/app/react-query/playground/components/tanstack.tsx
  websites/visualization/app/react-query/playground/components/useIntersectionObserver.ts
  websites/visualization/app/react-query/playground/page.tsx
  websites/visualization/components/forPlayground/suspensive.tsx
  websites/visualization/components/index.ts
Due: eslint, prettier --list-different

chore(react): unnecessary type in suspenseCache
  packages/react/src/useSuspenseCache.tsx
Due: none

ci(pnpm): fix pnpm/action-setup version
  .github/workflows/ci-workflow.yml
  .github/workflows/release-workflow.yml
  package.json
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
