Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

chore(format): apply packlint
  packages/react-query/package.json
Due: none

chore: bump packages version
  .changeset/calm-deers-deliver.md
  .changeset/pre.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version (#108)
  .changeset/calm-deers-deliver.md
  .changeset/pre.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version
  configs/tsup/package.json
  package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

fix(react, react-query): remove unnecessary files by package.json's files
  packages/react-query/package.json
  packages/react/package.json
Due: none

Create tiny-swans-work.md
  .changeset/tiny-swans-work.md
Due: prettier --list-different

fix(react, react-query): remove unnecessary files by package.json's files (#109)
  .changeset/tiny-swans-work.md
  packages/react-query/package.json
  packages/react/package.json
Due: prettier --list-different

chore: bump packages version
  .changeset/tiny-swans-work.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version (#110)
  .changeset/tiny-swans-work.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

refactor: file position
  packages/react-query/package.json
  packages/react/package.json
  packages/react/src/__test__/useSuspenseCache.spec.tsx
Due: none

fix(type:check): remove option
  packages/react-query/package.json
  packages/react-query/tsconfig.json
  packages/react/package.json
Due: none

chore(.github/workflows/ci.yml): add type:check
  .github/workflows/ci.yml
Due: none

fix(type:check): remove unnecessary tsc option (#112)
  .github/workflows/ci.yml
  packages/react-query/package.json
  packages/react-query/tsconfig.json
  packages/react/package.json
Due: none

chore(deps): bump word-wrap from 1.2.3 to 1.2.4 (#97)
  pnpm-lock.yaml
Due: none

fix(visualization): api routes(page router) to route handlers(app router)
  configs/tsup/package.json
  websites/visualization/app/layout.tsx
  websites/visualization/next.config.js
  websites/visualization/package.json
  websites/visualization/pages/api/during.ts
  websites/visualization/public/vercel.svg
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/api/during/route.ts
  websites/visualization/src/app/favicon.ico
  websites/visualization/src/app/global.css
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/page.tsx
  websites/visualization/src/app/providers.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react-query/playground/components/api.tsx
  websites/visualization/src/app/react-query/playground/components/index.ts
  websites/visualization/src/app/react-query/playground/components/suspensive.tsx
  websites/visualization/src/app/react-query/playground/components/tanstack.tsx
  websites/visualization/src/app/react-query/playground/components/useIntersectionObserver.ts
  websites/visualization/src/app/react-query/playground/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/app/react/useSuspenseCache/page.tsx
  websites/visualization/src/components/RejectedFallback.tsx
  websites/visualization/src/components/UseSuspenseQuery.tsx
  websites/visualization/src/components/index.ts
  websites/visualization/src/components/uis/index.tsx
  websites/visualization/src/utils/api.ts
  websites/visualization/src/utils/delay.ts
  websites/visualization/src/utils/index.ts
  websites/visualization/tsconfig.json
Due: eslint

fix(ci.yml): more strictly
  .github/workflows/ci.yml
  configs/eslint-config-js/.eslintrc.js
  configs/eslint-config-js/javascript.js
  configs/eslint-config-js/noimport.js
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/typescript.js
  configs/eslint-config/react-js.js
  configs/eslint-config/react-ts-noimport.js
  configs/eslint-config/react-ts.js
  configs/eslint-config/react.js
  packages/react-query/tsup.config.ts
  packages/react/src/__test__/Delay.spec.tsx
  packages/react/src/__test__/ErrorBoundary.spec.tsx
  packages/react/src/__test__/ErrorBoundaryGroup.spec.tsx
  packages/react/src/__test__/Suspense.spec.tsx
  packages/react/src/__test__/SuspensiveProvider.spec.tsx
  packages/react/src/__test__/withDelay.spec.tsx
  packages/react/src/__test__/withSuspense.spec.tsx
  packages/react/src/withErrorBoundary.tsx
  packages/react/tsup.config.ts
  pnpm-lock.yaml
  websites/docs/package.json
  websites/visualization/.eslintrc.js
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react-query/playground/components/tanstack.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/app/react/useSuspenseCache/page.tsx
Due: eslint

fix(ci.yml): more strictly (#113)
  .github/workflows/ci.yml
  configs/eslint-config-js/.eslintrc.js
  configs/eslint-config-js/javascript.js
  configs/eslint-config-js/noimport.js
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/typescript.js
  configs/eslint-config/react-js.js
  configs/eslint-config/react-ts-noimport.js
  configs/eslint-config/react-ts.js
  configs/eslint-config/react.js
  packages/react-query/tsup.config.ts
  packages/react/src/__test__/Delay.spec.tsx
  packages/react/src/__test__/ErrorBoundary.spec.tsx
  packages/react/src/__test__/ErrorBoundaryGroup.spec.tsx
  packages/react/src/__test__/Suspense.spec.tsx
  packages/react/src/__test__/SuspensiveProvider.spec.tsx
  packages/react/src/__test__/withDelay.spec.tsx
  packages/react/src/__test__/withSuspense.spec.tsx
  packages/react/src/withErrorBoundary.tsx
  packages/react/tsup.config.ts
  pnpm-lock.yaml
  websites/docs/package.json
  websites/visualization/.eslintrc.js
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react-query/playground/components/tanstack.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/app/react/useSuspenseCache/page.tsx
Due: eslint

fix(typescript): update version from v4 to v5
  configs/tsup/package.json
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

Create green-bobcats-flash.md
  .changeset/green-bobcats-flash.md
Due: prettier --list-different

fix(typescript): update version from v4 to v5 (#114)
  .changeset/green-bobcats-flash.md
  configs/tsup/package.json
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version
  .changeset/green-bobcats-flash.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version (#115)
  .changeset/green-bobcats-flash.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: prettier --list-different

refactor(eslint, tsconfig): simply
  configs/babel/package.json
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  configs/jest/package.json
  configs/tsup/package.json
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/docs/package.json
  websites/visualization/package.json
Due: none

Create serious-moose-bathe.md
  .changeset/serious-moose-bathe.md
Due: prettier --list-different

test(react): add test case for AsyncBoundary
  packages/react/src/__test__/AsyncBoundary.spec.tsx
Due: none

feat(react): add ErrorBoundaryFallbackProps type
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/index.ts
Due: eslint

Create eight-cats-destroy.md
  .changeset/eight-cats-destroy.md
Due: prettier --list-different

feat(react): add ErrorBoundaryFallbackProps type (#119)
  .changeset/eight-cats-destroy.md
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/index.ts
Due: eslint, prettier --list-different

fix(react): enable hook in ErrorBoundary
  packages/react/src/ErrorBoundary.tsx
Due: none

Create lovely-windows-tan.md
  .changeset/lovely-windows-tan.md
Due: prettier --list-different
