Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

test(react): write test code for `isDifferentArray` (#28)
  packages/react/src/utils/index.ts
  packages/react/src/utils/isDifferentArray/index.ts
  packages/react/src/utils/isDifferentArray/isDifferentArray.spec.ts
  packages/react/src/utils/isDifferentArray/isDifferentArray.ts
Due: eslint

refactor(react): rename isDifferentArray to hasResetKeysChanged
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utils/hasResetKeysChanged/hasResetKeysChanged.spec.ts
  packages/react/src/utils/hasResetKeysChanged/hasResetKeysChanged.ts
  packages/react/src/utils/hasResetKeysChanged/index.ts
  packages/react/src/utils/isDifferentArray/index.ts
  packages/react/src/utils/isDifferentArray/isDifferentArray.ts
Due: eslint

chore(pnpm): update version
  package.json
  pnpm-lock.yaml
Due: none

refactor(react): rename isDifferentArray to hasResetKeysChanged (#31)
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utils/hasResetKeysChanged/hasResetKeysChanged.spec.ts
  packages/react/src/utils/hasResetKeysChanged/hasResetKeysChanged.ts
  packages/react/src/utils/hasResetKeysChanged/index.ts
  packages/react/src/utils/isDifferentArray/index.ts
  packages/react/src/utils/isDifferentArray/isDifferentArray.ts
Due: eslint

chore: add release automation
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: none

chore(.changeset): update configuration to generate CHANGELOG.md automatically
  .changeset/config.json
  package.json
  packages/react-query/package.json
Due: none

chore(.changeset): changelog initialization
  .changeset/beige-ways-type.md
Due: prettier --list-different

chore(.github): add release-workflow.yml to create Pull Request bumping versions
  .github/changeset-version.js
  .github/workflows/ci-workflow.yml
  .github/workflows/labeler-workflow.yml
  .github/workflows/release-workflow.yml
Due: none

Update .github/workflows/ci-workflow.yml
  .github/workflows/ci-workflow.yml
Due: none

chore(ci-workflow.yml): remove wrong space
  .github/workflows/ci-workflow.yml
Due: none

ci(.github/workflows): remove unnecessary procedure of release-workflow.yml
  .github/workflows/release-workflow.yml
Due: none

ci(.github/workflows): make node version follow .nvmrc
  .github/workflows/release-workflow.yml
Due: none

chore(.changeset, .github/workflows): add auto generating CHANGELOG.md (#34)
  .changeset/beige-ways-type.md
  .github/changeset-version.js
  .github/workflows/ci-workflow.yml
  .github/workflows/labeler-workflow.yml
  .github/workflows/release-workflow.yml
Due: prettier --list-different

chore: bump packages version
  .changeset/beige-ways-type.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --list-different

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(changesets): bump packages version (#35)
  .changeset/beige-ways-type.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --list-different

fix(react-query): fix useSuspenseQuery, useSuspenseInfiniteQuery receive various params like origin
  .github/workflows/ci-workflow.yml
  README.md
  configs/babel/package.json
  configs/eslint/common.js
  configs/eslint/package.json
  configs/jest/package.json
  configs/rollup/package.json
  configs/tsconfig/package.json
  package.json
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.en.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.ko.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQuery.en.mdx
  packages/react-query/src/useSuspenseQuery.ko.mdx
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react-query/tsconfig.build.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/docs/.eslintrc.js
  websites/docs/package.json
  websites/docs/scripts/build-docs/generate-docs-from-md.ts
  websites/docs/src/components/HomepageFeatures/index.tsx
  websites/docs/src/pages/index.tsx
  websites/visualization/api.ts
  websites/visualization/components/UseSuspenseQuery.tsx
  websites/visualization/components/forPlayground/suspensive.tsx
  websites/visualization/package.json
Due: eslint, prettier --list-different

Create hot-experts-begin.md
  .changeset/hot-experts-begin.md
Due: prettier --list-different

fix(react-query): remove optional args if only one arg
  packages/react-query/src/useSuspenseQuery.ts
Due: eslint

test(react-query): add test case to test no arg useSuspenseQuery
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react/package.json
Due: eslint

test(react-query): refactor test code
  packages/react-query/src/useSuspenseQuery.test-d.ts
Due: eslint

test(react-query): refactor test code
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
Due: eslint

fix(react-query): fix useSuspenseQuery, useSuspenseInfiniteQuery receive various params like original @tanstack/react-query v4 (#38)
  .changeset/hot-experts-begin.md
  .github/workflows/ci-workflow.yml
  README.md
  configs/babel/package.json
  configs/eslint/common.js
  configs/eslint/package.json
  configs/jest/package.json
  configs/rollup/package.json
  configs/tsconfig/package.json
  package.json
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.en.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.ko.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQuery.en.mdx
  packages/react-query/src/useSuspenseQuery.ko.mdx
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react-query/tsconfig.build.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/docs/.eslintrc.js
  websites/docs/package.json
  websites/docs/scripts/build-docs/generate-docs-from-md.ts
  websites/docs/src/components/HomepageFeatures/index.tsx
  websites/docs/src/pages/index.tsx
  websites/visualization/api.ts
  websites/visualization/components/UseSuspenseQuery.tsx
  websites/visualization/components/forPlayground/suspensive.tsx
  websites/visualization/package.json
Due: eslint, prettier --list-different

fix(.github/workflows): fix pre-commit lint-staged error test-d.ts in release-workflow.yml
  .husky/pre-commit
Due: none

chore: bump packages version
  .changeset/hot-experts-begin.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version (#39)
  .changeset/hot-experts-begin.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore(typescript): fix typescript.tsdk
  .vscode/settings.json
Due: none

fix(.github/workflows): pnpm lockfile update after versioning
  .github/changeset-version.js
  .github/workflows/release-workflow.yml
  package.json
Due: none

chore(.github/workflow): add cache, remove unnecessary type:check, node-version
  .github/workflows/ci-workflow.yml
  .github/workflows/release-workflow.yml
Due: none

chore(.github/workflow): add cache, remove unnecessary type:check, node-version (#40)
  .github/workflows/ci-workflow.yml
  .github/workflows/release-workflow.yml
Due: none

chore(.github/workflows): check quality concurrently
  .eslintignore
  .github/workflows/ci-workflow.yml
  package.json
  turbo.json
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
