Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

test(react-testing-library): add initial test configuration for react (#23)
  configs/jest/jest.config.js
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  pnpm-lock.yaml
Due: none

test(jest): add initial test configuration (#22)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  configs/jest/jest.config.js
  configs/jest/package.json
  packages/react-query/jest.config.js
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/jest.config.js
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  pnpm-lock.yaml
Due: prettier --list-different

Revert "test(jest): add initial test configuration (#22)"
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  configs/jest/jest.config.js
  configs/jest/package.json
  packages/react-query/jest.config.js
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/jest.config.js
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  pnpm-lock.yaml
Due: prettier --list-different

Revert "test(jest): add initial test configuration" (#24)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  configs/jest/jest.config.js
  configs/jest/package.json
  packages/react-query/jest.config.js
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/jest.config.js
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  pnpm-lock.yaml
Due: prettier --list-different

build(tsconfig): exclude compiling test files(spec, test)
  configs/tsconfig/base.json
  packages/react-query/package.json
  packages/react-query/tsconfig.build.json
  packages/react-query/tsconfig.json
  packages/react/package.json
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
Due: none

test(react, react-query): remove unnecessary code
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/src/AsyncBoundary.spec.tsx
Due: none

fix(react, react-query): order package.json
  packages/react-query/package.json
  packages/react/package.json
Due: none

docs(graph.html): add dependency graph
  README.md
  graph.html
  package.json
Due: prettier --list-different

test(jest, react-testing-library): add test configuration (#25)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  configs/jest/jest.config.js
  configs/jest/package.json
  configs/tsconfig/base.json
  packages/react-query/jest.config.js
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react-query/tsconfig.build.json
  packages/react-query/tsconfig.json
  packages/react/jest.config.js
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
  pnpm-lock.yaml
Due: prettier --list-different

chore(graph): move to graph directory to auto-deploy
  graph/index.html
  package.json
Due: none

docs: update url
  README.md
  package.json
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/package.json
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  websites/docs/docusaurus.config.js
Due: eslint, prettier --list-different

docs(README.md): change logo image
  README.md
Due: prettier --list-different

docs(README.md): update banner
  websites/docs/static/banner.png
Due: none

fix(logo): update logo
  websites/docs/static/img/favicon.ico
  websites/docs/static/img/logo.svg
  websites/docs/static/img/logo_notcropped.png
Due: none

fix(docs): add custom editUrl function
  websites/docs/docusaurus.config.js
Due: none

chore(banner): update
  websites/docs/static/banner.png
Due: none

style(docs): fix hompage header
  websites/docs/src/pages/index.tsx
Due: none

fix(docs): remove default dark mode
  websites/docs/docusaurus.config.js
Due: none

test: write test code for useKey
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useKey/index.ts
  packages/react/src/hooks/useKey/useKey.spec.ts
  packages/react/src/hooks/useKey/useKey.ts
Due: eslint

test: write test code for useIsMounted
  packages/react/src/hooks/useIsMounted/index.ts
  packages/react/src/hooks/useIsMounted/useIsMounted.spec.ts
  packages/react/src/hooks/useIsMounted/useIsMounted.ts
Due: eslint

test: remove async keyword and initial constant
  packages/react/src/hooks/useKey/useKey.spec.ts
Due: eslint

test(react): write test code for hooks (`useIsMounted`, `useKey`) (#27)
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsMounted/index.ts
  packages/react/src/hooks/useIsMounted/useIsMounted.spec.ts
  packages/react/src/hooks/useIsMounted/useIsMounted.ts
  packages/react/src/hooks/useKey/index.ts
  packages/react/src/hooks/useKey/useKey.spec.ts
  packages/react/src/hooks/useKey/useKey.ts
Due: eslint

test(react): write test code for isDifferentARray
  packages/react/src/utils/index.ts
  packages/react/src/utils/isDifferentArray/index.ts
  packages/react/src/utils/isDifferentArray/isDifferentArray.spec.ts
  packages/react/src/utils/isDifferentArray/isDifferentArray.ts
Due: eslint

test(react): add more concise test code for isDifferentArray
  packages/react/src/utils/isDifferentArray/isDifferentArray.spec.ts
Due: eslint

fix(react): add one line
  packages/react/src/utils/isDifferentArray/isDifferentArray.spec.ts
Due: eslint

test(react): write test code for `isDifferentArray` (#28)
  packages/react/src/utils/index.ts
  packages/react/src/utils/isDifferentArray/index.ts
  packages/react/src/utils/isDifferentArray/isDifferentArray.spec.ts
  packages/react/src/utils/isDifferentArray/isDifferentArray.ts
Due: eslint
