Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

fix(eslint-config-ts): lint order correctly
  configs/eslint-config-ts/typescript.js
Due: none

chore: bump packages version
  .changeset/thick-walls-talk.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

fix(docs, visualization): code concisely
  pnpm-lock.yaml
  websites/docs/.eslintrc.js
  websites/docs/docusaurus.config.js
  websites/docs/package.json
  websites/visualization/.eslintrc.js
  websites/visualization/app/layout.tsx
  websites/visualization/app/layout/components/Layout.tsx
  websites/visualization/app/layout/components/Providers.tsx
  websites/visualization/app/layout/components/TopNavigation.tsx
  websites/visualization/app/layout/components/index.ts
  websites/visualization/app/layout/index.tsx
  websites/visualization/app/page.tsx
  websites/visualization/app/react/useSuspenseCache/page.tsx
  websites/visualization/package.json
Due: eslint

chore: bump packages version (#81)
  .changeset/thick-walls-talk.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

feat(docs): add search feature powered by docSearch
  pnpm-lock.yaml
  websites/docs/docusaurus.config.js
  websites/docs/i18n/ko/code.json
  websites/docs/i18n/ko/docusaurus-theme-classic/navbar.json
  websites/docs/package.json
  websites/docs/src/components/HomepageFeatures/index.tsx
  websites/docs/src/css/custom.css
  websites/docs/src/pages/index.tsx
  websites/visualization/app/react-query/playground/page.tsx
Due: none

feat(docs): add search feature powered by docSearch (#89)
  pnpm-lock.yaml
  websites/docs/docusaurus.config.js
  websites/docs/i18n/ko/code.json
  websites/docs/i18n/ko/docusaurus-theme-classic/navbar.json
  websites/docs/package.json
  websites/docs/src/components/HomepageFeatures/index.tsx
  websites/docs/src/css/custom.css
  websites/docs/src/pages/index.tsx
  websites/visualization/app/react-query/playground/page.tsx
Due: none

fix(react): remove ErrorBoundaryGroup's unnecessary rerender, not on purpose situation's group.reset
  .changeset/shaggy-radios-sparkle.md
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/usePrevious/index.ts
  packages/react/src/hooks/usePrevious/usePrevious.spec.ts
  packages/react/src/hooks/usePrevious/usePrevious.ts
Due: eslint, prettier --list-different

chore(react): fix variable name intuitively for return value of usePrevious
  packages/react/src/ErrorBoundaryGroup.tsx
Due: none

feat(react): add useIsChanged to replace usePrevious for ErrorBoundaryGroup's intuitiveness
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsChanged/index.ts
  packages/react/src/hooks/useIsChanged/useIsChanged.spec.ts
  packages/react/src/hooks/useIsChanged/useIsChanged.ts
  packages/react/src/hooks/usePrevious/index.ts
  packages/react/src/hooks/usePrevious/usePrevious.spec.ts
  packages/react/src/hooks/usePrevious/usePrevious.ts
Due: eslint

refactor(react): rename isChangedParentGroupResetKey to isParentGroupResetKeyChanged
  packages/react/src/ErrorBoundaryGroup.tsx
Due: none

fix(react): remove ErrorBoundaryGroup's not on purpose situation group.reset because of isMounted's side effect (#92)
  .changeset/shaggy-radios-sparkle.md
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsChanged/index.ts
  packages/react/src/hooks/useIsChanged/useIsChanged.spec.ts
  packages/react/src/hooks/useIsChanged/useIsChanged.ts
  packages/react/src/hooks/usePrevious/index.ts
  packages/react/src/hooks/usePrevious/usePrevious.spec.ts
  packages/react/src/hooks/usePrevious/usePrevious.ts
Due: eslint, prettier --list-different

Create CNAME
  CNAME
Due: none

chore(react): add rollup-plugin-visualizer
  .gitignore
  configs/rollup/index.js
  configs/rollup/package.json
  pnpm-lock.yaml
Due: none

chore(.vscode/settings.json): remove deprecated eslint.packageManager
  .vscode/settings.json
Due: none

chore(react): add rollup-plugin-visualizer (#94)
  .gitignore
  configs/rollup/index.js
  configs/rollup/package.json
  pnpm-lock.yaml
Due: none

chore: bump packages version
  .changeset/shaggy-radios-sparkle.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version (#93)
  .changeset/shaggy-radios-sparkle.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore(deps-dev): bump semver from 5.7.1 to 5.7.2 (#98)
  pnpm-lock.yaml
Due: none

feat: bundler rollup to tsup
  .github/labeler.yml
  .gitignore
  .vscode/settings.json
  configs/rollup/.eslintrc.js
  configs/rollup/index.js
  configs/rollup/package.json
  packages/react-query/package.json
  packages/react-query/rollup.config.js
  packages/react/package.json
  packages/react/rollup.config.js
  pnpm-lock.yaml
Due: none

feat(tsup): add @suspensive/tsup
  .vscode/settings.json
  configs/tsup/.eslintrc.js
  configs/tsup/package.json
  configs/tsup/src/index.ts
  configs/tsup/tsconfig.json
  package.json
  packages/react-query/package.json
  packages/react-query/tsconfig.build.json
  packages/react-query/tsup.config.ts
  packages/react/package.json
  packages/react/tsconfig.build.json
  packages/react/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
  websites/visualization/package.json
Due: eslint

fix(tsup): lint workflow
  configs/tsup/.eslintrc.js
  packages/react-query/.eslintrc.js
  packages/react/.eslintrc.js
Due: none

feat(tsup): add @suspensive/tsup (#102)
  .vscode/settings.json
  configs/tsup/.eslintrc.js
  configs/tsup/package.json
  configs/tsup/src/index.ts
  configs/tsup/tsconfig.json
  package.json
  packages/react-query/package.json
  packages/react-query/tsconfig.build.json
  packages/react-query/tsup.config.ts
  packages/react/.eslintrc.js
  packages/react/package.json
  packages/react/tsconfig.build.json
  packages/react/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
  websites/visualization/package.json
Due: eslint

chore(babel): remove unnecessary package
  .github/labeler.yml
  configs/babel/.eslintrc.js
  configs/babel/index.js
  configs/babel/package.json
  packages/react-query/babel.config.js
  packages/react-query/package.json
  packages/react/babel.config.js
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

fix(tsup): add multiple entry
  configs/tsup/src/index.ts
  packages/react-query/package.json
  packages/react-query/src/__test__/QueryAsyncBoundary.spec.tsx
  packages/react-query/src/__test__/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/__test__/useSuspenseQueries.test-d.ts
  packages/react-query/src/__test__/useSuspenseQuery.test-d.ts
  packages/react/package.json
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/__test__/AsyncBoundary.spec.tsx
  packages/react/src/__test__/Delay.spec.tsx
  packages/react/src/__test__/ErrorBoundary.spec.tsx
  packages/react/src/__test__/ErrorBoundaryGroup.spec.tsx
  packages/react/src/__test__/Suspense.spec.tsx
  packages/react/src/__test__/SuspensiveProvider.spec.tsx
  packages/react/src/__test__/utils/index.tsx
  packages/react/src/__test__/withDelay.spec.tsx
  packages/react/src/__test__/withSuspense.spec.tsx
  packages/react/src/useSuspenseCache.tsx
  turbo.json
Due: eslint

chore(CODEOWNER): update
  .github/CODEOWNERS
Due: none

Create calm-deers-deliver.md
  .changeset/calm-deers-deliver.md
Due: prettier --list-different

chore(CODEOWNER): update (#106)
  .github/CODEOWNERS
Due: none

fix(tsup): add multiple entry (#105)
  configs/tsup/src/index.ts
  packages/react-query/package.json
  packages/react-query/src/__test__/QueryAsyncBoundary.spec.tsx
  packages/react-query/src/__test__/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/__test__/useSuspenseQueries.test-d.ts
  packages/react-query/src/__test__/useSuspenseQuery.test-d.ts
  packages/react/package.json
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/__test__/AsyncBoundary.spec.tsx
  packages/react/src/__test__/Delay.spec.tsx
  packages/react/src/__test__/ErrorBoundary.spec.tsx
  packages/react/src/__test__/ErrorBoundaryGroup.spec.tsx
  packages/react/src/__test__/Suspense.spec.tsx
  packages/react/src/__test__/SuspensiveProvider.spec.tsx
  packages/react/src/__test__/utils/index.tsx
  packages/react/src/__test__/withDelay.spec.tsx
  packages/react/src/__test__/withSuspense.spec.tsx
  packages/react/src/useSuspenseCache.tsx
  turbo.json
Due: eslint

chore(prerelease): v.1.11.4-beta.0
  .changeset/config.json
  .changeset/pre.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --list-different

chore(react, react-query): add publishConfig.access: public
  packages/react-query/package.json
  packages/react/package.json
Due: none

chore(visualization): link version clearly
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(changeset): exit prerelease
  .changeset/pre.json
Due: none
