Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

fix: remove unnecessary useRender
  packages/react/src/hooks/useRerender.spec.ts
  packages/react/src/hooks/useRerender.ts
Due: eslint

fix(react): add hashKey
  packages/react/src/experimental/Await.tsx
  packages/react/src/utils/hashKey.spec.ts
  packages/react/src/utils/hashKey.ts
Due: eslint

chore: update
  packages/react/src/experimental/Await.tsx
  packages/react/src/utils/index.ts
Due: eslint

test(react): add test case for hashKey
  packages/react/src/utils/hashKey.spec.ts
Due: eslint

ci: update
  codecov.yml
Due: none

ci(codecov): improve
  codecov.yml
Due: none

fix(react): fix throw null
  packages/react/src/ErrorBoundary.tsx
Due: none

Create grumpy-turtles-tickle.md
  .changeset/grumpy-turtles-tickle.md
Due: prettier --list-different

test(react): add test case for ErrorBoundary catching null thrown
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/utils/toTest.tsx
Due: none

chore(react): update changeset
  .changeset/grumpy-turtles-tickle.md
Due: prettier --list-different

ci(codecov): improve (#150)
  codecov.yml
Due: none

chore: test watch coverage defaultly
  packages/react-query/package.json
  packages/react/package.json
Due: none

chore(visualization): improve
  websites/visualization/src/app/api/delay/route.ts
  websites/visualization/src/app/api/during/route.ts
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/experimental/await/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/utils/api.ts
  websites/visualization/src/utils/delay.ts
  websites/visualization/src/utils/index.ts
Due: eslint

refactor(react): move suspensiveCache into Await
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/experimental/suspensiveCache.tsx
Due: eslint

chore: update
  packages/react/src/experimental/Await.tsx
Due: none

refactor(react): clarify codes
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/experimental/Await.tsx
  websites/visualization/src/app/react/experimental/await/page.tsx
Due: none

chore(react): code more clearly
  packages/react/src/experimental/Await.tsx
Due: none

chore: remove unnecessary change
  codecov.yml
Due: none

chore: script for visualization
  package.json
Due: none

Create cool-carpets-tell.md
  .changeset/cool-carpets-tell.md
Due: prettier --list-different

feat(react): add useErrorBoundary
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utils/assert.ts
  packages/react/src/utils/index.ts
Due: eslint

Create old-mails-pump.md
  .changeset/old-mails-pump.md
Due: prettier --list-different

test(react): clarify test code
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
Due: none

feat(react): add useErrorBoundary as public apis
  packages/react/src/index.ts
Due: eslint

Update packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/Await.tsx
Due: none

fix(react): update BaseErrorBoundary method simply
  packages/react/src/ErrorBoundary.tsx
Due: none

fix(react): improve hashKey
  packages/react/src/utils/hashKey.ts
Due: eslint

Update packages/react/src/utils/toTest.tsx
  packages/react/src/utils/toTest.tsx
Due: none

chore: update
  packages/react/src/utils/toTest.tsx
Due: none

fix(react): Improve Await (#142)
  .changeset/cool-carpets-tell.md
  .changeset/six-months-explode.md
  packages/react/package.json
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useRerender.spec.ts
  packages/react/src/hooks/useRerender.ts
  packages/react/src/utils/hashKey.spec.ts
  packages/react/src/utils/hashKey.ts
  packages/react/src/utils/index.ts
  pnpm-lock.yaml
  websites/visualization/src/app/react/experimental/await/page.tsx
Due: eslint, prettier --list-different

fix(react): fix throw null (#151)
  .changeset/grumpy-turtles-tickle.md
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utils/toTest.tsx
Due: prettier --list-different

Create gentle-laws-reflect.md
  .changeset/gentle-laws-reflect.md
Due: prettier --list-different

fix(react): update BaseErrorBoundary method simply (#154)
  .changeset/gentle-laws-reflect.md
  packages/react/src/ErrorBoundary.tsx
Due: prettier --list-different

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
