Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

Create eight-peas-hear.md
  .changeset/eight-peas-hear.md
Due: prettier --list-different

fix(react): make wrap as stable and deprecate all withXXXs (#346)
  .changeset/funny-lemons-sit.md
  docs/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/src/pages/docs/react/Delay.en.mdx
  docs/src/pages/docs/react/Delay.ko.mdx
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/src/pages/docs/react/Suspense.en.mdx
  docs/src/pages/docs/react/Suspense.ko.mdx
  docs/src/pages/docs/react/wrap.en.mdx
  docs/src/pages/docs/react/wrap.ko.mdx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.ts
  websites/visualization/src/app/react/experimental/wrap/before/page.tsx
  websites/visualization/src/app/react/wrap/page.tsx
Due: eslint, prettier --list-different

feat(react-await): add GarbageCollectable
  packages/react-await/src/GarbageCollectable.ts
Due: eslint

ci(codecov): update paths correctly
  codecov.yml
Due: none

ci(codecov): update paths correctly (#404)
  codecov.yml
Due: none

chore: update
  packages/react-query/src/QueryAsyncBoundary.tsx
Due: none

chore: update
  README.md
Due: prettier --list-different

fix(react): deprecate AsyncBoundary (#345)
  .changeset/nasty-cooks-judge.md
  README.md
  docs/src/pages/docs/react-query/QueryErrorBoundary.en.mdx
  docs/src/pages/docs/react-query/QueryErrorBoundary.ko.mdx
  docs/src/pages/docs/react-query/_meta.en.json
  docs/src/pages/docs/react-query/_meta.ko.json
  docs/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/src/pages/docs/react/_meta.en.json
  docs/src/pages/docs/react/_meta.ko.json
  docs/src/pages/docs/why.en.mdx
  docs/src/pages/docs/why.ko.mdx
  docs/src/pages/index.en.mdx
  docs/src/pages/index.ko.mdx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.ts
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/components/uis/index.tsx
Due: eslint, prettier --list-different

docs: add changelog with react-await / react-image
  docs/src/pages/docs/changelogs.en.mdx
  docs/src/pages/docs/changelogs.ko.mdx
Due: none

docs: change meta json
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
Due: none

docs: add meta and update changelog page (#405)
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
  docs/src/pages/docs/changelogs.en.mdx
  docs/src/pages/docs/changelogs.ko.mdx
Due: none

chore: version packages (#402)
  .changeset/funny-lemons-sit.md
  .changeset/nasty-cooks-judge.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --list-different

chore: update
  .changeset/config.json
Due: none

chore(deps): Bump @typescript-eslint/parser from 6.11.0 to 6.12.0 (#408)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @types/node from 18.18.9 to 18.18.13 (#407)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @types/react from 18.2.38 to 18.2.39 (#409)
  configs/test-utils/package.json
  docs/v1/package.json
  docs/v2/package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps-dev): Bump @changesets/cli from 2.26.2 to 2.27.0 (#410)
  package.json
  pnpm-lock.yaml
Due: none

docs: update README.md
  README.md
  assets/logo_dark.png
Due: prettier --list-different

docs: add menu for versions
  docs/v1/src/components/HomePage.tsx
  docs/v1/src/pages/_meta.en.json
  docs/v1/src/pages/index.en.mdx
  docs/v1/src/pages/index.ko.mdx
  docs/v1/theme.config.tsx
  docs/v2/src/components/HomePage.tsx
  docs/v2/src/pages/_meta.en.json
  docs/v2/src/pages/index.en.mdx
  docs/v2/src/pages/index.ko.mdx
  docs/v2/theme.config.tsx
Due: none

chore(packlint): update directories
  packlint.config.mjs
Due: none

chore(deps-dev): Bump playwright from 1.40.0 to 1.40.1 (#414)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @commitlint/cli from 18.4.2 to 18.4.3 (#415)
  package.json
  pnpm-lock.yaml
Due: none

chore: update versions of vitest
  codecov.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: update versions of vitest (#416)
  codecov.yml
  package.json
  pnpm-lock.yaml
Due: none

docs: add menu for versions (#412)
  docs/v1/src/components/HomePage.tsx
  docs/v1/src/pages/_meta.en.json
  docs/v1/src/pages/index.en.mdx
  docs/v1/src/pages/index.ko.mdx
  docs/v1/theme.config.tsx
  docs/v2/src/components/HomePage.tsx
  docs/v2/src/pages/_meta.en.json
  docs/v2/src/pages/index.en.mdx
  docs/v2/src/pages/index.ko.mdx
  docs/v2/theme.config.tsx
Due: none

docs: update docs
  configs/package-json-name/package.json
  docs/v1/src/pages/_meta.en.json
  docs/v1/src/pages/_meta.ko.json
  docs/v2/src/pages/_meta.ko.json
  package.json
  turbo.json
Due: none

chore: update
  turbo.json
Due: none

docs: update docs (#417)
  configs/package-json-name/package.json
  docs/v1/src/pages/_meta.en.json
  docs/v1/src/pages/_meta.ko.json
  docs/v2/src/pages/_meta.ko.json
  package.json
  turbo.json
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
