Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.md": "prettier --list-different"
}

docs(react): update doc for Suspense
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

docs(react): update
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

Update packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.en.mdx
Due: none

docs(react): update doc for ErrorBoundary (#190)
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

docs(react): update
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

chore: update docs
  packages/react/src/ErrorBoundary.en.mdx
Due: none

Update packages/react/src/Suspense.ko.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

chore: update
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

docs(react): update doc for Suspense (#192)
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

docs: update all intro
  websites/docs/i18n/ko/code.json
  websites/docs/intro/installation.ko.md
  websites/docs/intro/motivation.en.md
  websites/docs/intro/motivation.ko.md
  websites/docs/intro/related.en.md
  websites/docs/intro/related.ko.md
  websites/docs/intro/visualization.en.md
  websites/docs/intro/visualization.ko.md
  websites/docs/src/components/HomepageFeatures/index.tsx
Due: prettier --list-different

docs(react): update doc for ErrorBoundaryGroup
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
Due: none

docs(react): update doc about AsyncBoundary influenced by ErrorBoundaryGroup
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
Due: none

docs(react): update dependencyList as []
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Due: none

docs(react): update doc for AsyncBoundary
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

docs(react): update for AsyncBoundary
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
Due: none

chore(eslint): update jsdoc rule
  configs/eslint-config/react-js.js
  configs/eslint-config/react-ts-noimport.js
  configs/eslint-config/react-ts.js
Due: none

feat(react): add all props type
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/index.ts
Due: eslint

Create quiet-squids-shop.md
  .changeset/quiet-squids-shop.md
Due: prettier --list-different

chore(vitest): update version
  package.json
  pnpm-lock.yaml
Due: none

docs(react): update doc for Delay
  packages/react/src/Delay.en.mdx
  packages/react/src/Delay.ko.mdx
Due: none

docs(react): update wrong spelling
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

docs: update
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

docs(react): update doc for AsyncBoundary (#195)
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: none

docs(docusaurus): add npm2yarn plugin
  packages/react-query/README.ko.md
  packages/react-query/README.md
  packages/react/README.ko.md
  packages/react/README.md
  pnpm-lock.yaml
  websites/docs/docusaurus.config.js
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
  websites/docs/package.json
Due: prettier --list-different

Create chilly-socks-act.md
  .changeset/chilly-socks-act.md
Due: prettier --list-different

docs: update experimental feature mark
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
Due: none

Create ninety-yaks-flash.md
  .changeset/ninety-yaks-flash.md
Due: prettier --list-different

Update .changeset/ninety-yaks-flash.md
  .changeset/ninety-yaks-flash.md
Due: prettier --list-different

Fix directory import error when using esm
  packages/react/src/experimental/Await.tsx
Due: none

docs: update experimental feature mark as admonitions of docusaurus (#201)
  .changeset/ninety-yaks-flash.md
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
Due: prettier --list-different
