Repository toss/suspensive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

ci(pnpm): fix pnpm/action-setup version
  .github/workflows/ci-workflow.yml
  .github/workflows/release-workflow.yml
  package.json
Due: none

chore(.github): add ChanhyukPark-Tech as CODEOWNERS
  .github/CODEOWNERS
Due: none

Update packages/react/src/useSuspenseCache.tsx
  packages/react/src/useSuspenseCache.tsx
Due: none

chore(.github): add ChanhyukPark-Tech as CODEOWNERS (#58)
  .github/CODEOWNERS
Due: none

chore: bump packages version
  .changeset/loud-pots-matter.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore(react): update type correctly
  packages/react/src/useSuspenseCache.tsx
Due: none

chore: bump packages version (#56)
  .changeset/loud-pots-matter.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore(react): mark suspenseCache, useSuspenseCache as experimental feature by ts-docs
  packages/react/src/useSuspenseCache.tsx
Due: none

feat(react): add useSuspenseCache, suspenseCache(experimental) (#55)
  .changeset/modern-seahorses-sing.md
  README.md
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useRerender/index.tsx
  packages/react/src/index.ts
  packages/react/src/useSuspenseCache.tsx
  websites/visualization/api.ts
  websites/visualization/app/layout/components/Providers.tsx
  websites/visualization/app/layout/index.tsx
  websites/visualization/app/useSuspenseCache/page.tsx
Due: eslint, prettier --list-different

chore(graph): add graph workflow to reduce vercel working
  .github/workflows/graph.yml
Due: none

chore: bump packages version
  .changeset/modern-seahorses-sing.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version (#59)
  .changeset/modern-seahorses-sing.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

fix(react-query): add @suspensive/react as peerDependenciesMeta
  README.md
  packages/react-query/README.ko.md
  packages/react-query/README.md
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react/README.ko.md
  packages/react/README.md
Due: prettier --list-different

Create heavy-flies-turn.md
  .changeset/heavy-flies-turn.md
Due: prettier --list-different

Update packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryAsyncBoundary.tsx
Due: none

chore(react-query): synchronize ts-doc
  packages/react-query/src/QueryErrorBoundary.tsx
Due: none

fix(react-query): add @suspensive/react as peerDependenciesMeta (#60)
  .changeset/heavy-flies-turn.md
  README.md
  packages/react-query/README.ko.md
  packages/react-query/README.md
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react/README.ko.md
  packages/react/README.md
Due: prettier --list-different

ci(.github/workflow): use changeset publish
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .gitignore
  graph/index.html
  package.json
  packages/react-query/package.json
  packages/react/package.json
Due: none

chore: bump packages version
  .changeset/heavy-flies-turn.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore: bump packages version (#61)
  .changeset/heavy-flies-turn.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: prettier --list-different

chore(test environment): update
  packages/react-query/package.json
  packages/react/package.json
  packages/react/src/utils/hasResetKeysChanged/hasResetKeysChanged.spec.ts
  packages/react/src/utils/hasResetKeysChanged/hasResetKeysChanged.ts
  packages/react/src/utils/hasResetKeysChanged/index.ts
Due: eslint

test(useRerender): add test code
  packages/react/src/hooks/useRerender/index.ts
  packages/react/src/hooks/useRerender/useRerender.spec.ts
  packages/react/src/hooks/useRerender/useRerender.ts
Due: eslint

chore: add color scheme config to doc config file
  websites/docs/docusaurus.config.js
Due: none

chore: add color scheme config to doc config file (#68)
  websites/docs/docusaurus.config.js
Due: none

test(react): add test case of hasResetKeysChanged
  packages/react/src/utils/hasResetKeysChanged/hasResetKeysChanged.spec.ts
Due: eslint

chore(react): split files to test easily
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/withAsyncBoundary.tsx
  packages/react/src/withErrorBoundary.tsx
  packages/react/src/withErrorBoundaryGroup.tsx
  packages/react/src/withSuspense.tsx
Due: eslint

chore(.github): enable codecov setup
  .github/workflows/code-coverage.yml
  .vscode/settings.json
Due: none

chore(codecov): add coverage status badge
  README.md
Due: prettier --list-different

test(useRerender): add test code (#67)
  packages/react/src/hooks/useRerender/index.ts
  packages/react/src/hooks/useRerender/useRerender.spec.ts
  packages/react/src/hooks/useRerender/useRerender.ts
Due: eslint

Path conditions:
  eslint: any of: *.ts
  prettier --list-different: any of: *.md
